﻿
<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ExperiencePicker.ascx.cs"
    Inherits="TPS360.Web.UI.ExperiencePicker" %>

Yrs:<asp:DropDownList ID="ddlExpYears" runat ="server" CssClass ="CommonDropDownList" Width ="50px" ></asp:DropDownList>
Months:<asp:DropDownList ID="ddlExpMonths" runat ="server" CssClass ="CommonDropDownList" Width ="50px" ></asp:DropDownList>