﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HiringNotes.ascx.cs" Inherits="TPS360.Web.UI.HiringNotes" %>

    

     <style type="text/css">
.front
{

 position : relative ;
}

</style>
<div class="GridContainer" style="width: 100%;" >

<asp:HiddenField ID="hfMemberId" runat ="server" />
<asp:HiddenField ID ="hfCurrentMemberId" runat ="server" />
<asp:HiddenField ID ="hfJobPostingId" runat ="server" />
<asp:HiddenField ID ="hfNote" runat ="server" />
<asp:HiddenField ID ="hfHiringNotesCandidateId" runat ="server" Value ="0" />
<div align="left" style =" display : none "  >
<asp:Label ID ="lblTitle" runat ="server" Font-Size ="X-Large" ></asp:Label>
</div>
<div align="left" > <asp:Label ID ="lblStatus" runat ="server" ></asp:Label>
</div>
<div >
<div class ="TableRow" style="float:left;" ><b> Hiring Notes: </b></div>
<div class ="TableRow" style="float:left;width:100%;padding-top:5px">
   <asp:TextBox ID="txtHiringNotes" runat ="server" CssClass ="CommonTextBox" TabIndex ="1" TextMode ="MultiLine" Width ="100%" Height="200px"   ></asp:TextBox>
</div>

<div class ="TableRow" style="padding-top:5px">
    <input type ="button" id ="btnSave" onclick ="mainScreen.SaveHiringNotesClicked()" value ="Save" class ="CommonButton" />
</div>

</div>


</div>


