﻿<%@ Page Language="C#" MasterPageFile="~/Masters/MemberPortal.master" AutoEventWireup="true" ValidateRequest="false"
    CodeFile="MySignature.aspx.cs" Inherits="TPS360.Web.UI.EmployeeMySignature" Title="My Email Signature" %>

<%@ Register Src="../Controls/MemberSignature.ascx" TagName="MemberSignature" TagPrefix="uc1" %>
<asp:Content ID="cntMySignature" ContentPlaceHolderID="cphHomeMaster" runat="Server">
  
                        <uc1:MemberSignature ID="ucSignature" runat="server" />
</asp:Content>
