﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="BlankModal.master.cs" Inherits="Modals_BlankModal" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Talentrackr</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" ScriptMode="Release" EnableHistory="true"
        EnablePageMethods="true">
        <services>
            <asp:ServiceReference Path="~/DataService.asmx" />
        </services>
        <scripts>
            <asp:ScriptReference Path="~/Scripts/Common.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-transition.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-alert.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-modal.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-dropdown.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-scrollspy.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tab.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tooltip.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-popover.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-button.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-collapse.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-carousel.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-typeahead.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.validate.js" />
            
                   <asp:ScriptReference Path="~/Scripts/GirdOverflowToopTip.js" />
        </scripts>
    </asp:ScriptManager>
    <div>
        <asp:ContentPlaceHolder id="cphModalMaster" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
