﻿<%@ Page Language="C#" MasterPageFile="~/Modals/Modal.master" AutoEventWireup="true" CodeFile="ChangeHiringStatus.aspx.cs" Inherits="TPS360.Web.UI.ChangeHiringStatus" Title="Untitled Page" %>
<%@ Register Src="~/Controls/ChangeHiringStatusOfCandidate.ascx" TagName="Document" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphModalMaster" Runat="Server">
    <div  id="schrollDiv" style="height: 500px; visibility: visible; overflow-x: auto; overflow: auto; display: block; position: relative; padding-left:10px; background-color: #FFFFFF">
      
        <div style =" width : 800px; height : 500px; display:table-cell    ; vertical-align : middle  ">
    <uc1:Document ID="Document1" runat="server" />
    
    </div>
  </div>
</asp:Content>

