﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AllRequisitionList.ascx.cs" Inherits="AllRequisitionList" %>
<%@ Register Src ="~/Dashboard/Controls/RequisitionList.ascx" TagName="Requisition" TagPrefix="ucl" %>

<asp:Panel ID="pnlSettings" runat="server">    
</asp:Panel>
<ucl:Requisition ID="uclRequisition" runat ="server" />
                    