﻿
<style type="text/css">
        body , td
		{
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 11px;
		}
		
		.Quote
        {
            font-family: Arial, Helvetica, sans-serif;
			font-size: 16pt;
			font-weight: bold;
			padding-right: 10px;
        }
		.tableHead
        {
            background-color: #CCCCCC;
			height: 25px;
			text-align: left;
			padding: 5px 0 3px 3px;
			font-weight: bold;
        }
		
    </style>

<table width="850" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="50" align="right" class="Quote">INVOICE</td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellpadding="2" cellspacing="0">
        <tr>
          <td width="5%">&nbsp;</td>
          <td width="45%">&nbsp;</td>
          <td width="5%">&nbsp;</td>
          <td width="45%">&nbsp;</td>
        </tr>
        <tr>
          <td valign="top" class="tableHead">TO</td>
          <td valign="top" style="font-size: 12px; padding-left: 5px;">||BILLTO||<br />
            <br />
           </td>
          <td valign="top" class="tableHead">FROM</td>
          <td valign="top" style="font-size: 12px; padding-left: 5px;">||BILLFROM||</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td ><table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000" style="height: 30px">
              <tr bgcolor="#FFFFFF">
                <td class="tableHead"> INVOICE DATE </td>
                <td class="tableHead"> INVOICE EXPIRATION </td>
                <td class="tableHead"> DELIVERY AND INSTALLATION METHOD </td>
                <td class="tableHead"> DELIVERY DATE </td>
                <td class="tableHead"> PAYMENT TERMS </td>
                <td class="tableHead"> DUE DATE </td>
              </tr>
              <tr bgcolor="#FFFFFF">
                <td height: 35px;>&nbsp;</td>
                <td height: 35px;>&nbsp;</td>
                <td height: 35px;>&nbsp;</td>
                <td height: 35px;>&nbsp;</td>
                <td height: 35px;>&nbsp;</td>
                <td height: 35px;>&nbsp;</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td valign="top"><table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
        <tr>
          <td width="10%" class="tableHead"> QTY </td>
          <td width="14%" class="tableHead"> ITEM TYPE </td>
          <td class="tableHead"> DESCRIPTION </td>
          <td width="12%" class="tableHead" style="text-align: right; padding-right: 4px;">UNIT PRICE </td>
          <td width="12%" align="left" class="tableHead" style="text-align: right; padding-right: 4px;"> LINE TOTAL </td>
        </tr>
        <tr>
          <td valign="top" bgcolor="#FFFFFF">||QTY||</td>
          <td valign="top" bgcolor="#FFFFFF">||ITEM||</td>
          <td valign="top" bgcolor="#FFFFFF">||ITEMDESCRIPTION||</td>
          <td align="right" valign="top" bgcolor="#FFFFFF">||UNITPRICE||</td>
          <td align="right" valign="top" bgcolor="#FFFFFF">||LINETOTAL||</td>
        </tr>
        ||INVOICEDETAILS||
        <tr>
          <td colspan="4" rowspan="4" align="right" valign="top" bgcolor="#FFFFFF"><table width="100" border="0" cellspacing="0" cellpadding="3">
              <tr bgcolor="#000000">
                <td height="25" align="right" nowrap="nowrap" bgcolor="#FFFFFF"><strong>TOTAL DISCOUNT </strong></td>
              </tr>
              <tr bgcolor="#000000">
                <td height="25" align="right" bgcolor="#FFFFFF"><strong> SUBTOTAL </strong></td>
              </tr>
              <tr bgcolor="#000000">
                <td height="25" align="right" bgcolor="#FFFFFF"><strong> SALES TAX </strong></td>
              </tr>
              <tr bgcolor="#000000">
                <td height="25" align="right" bgcolor="#FFFFFF"><strong> TOTAL </strong></td>
              </tr>
          </table></td>
          <td height="25" align="right" bgcolor="#FFFFFF">||DISCOUNT||</td>
        </tr>
        <tr>
          <td height="25" align="right" bgcolor="#FFFFFF">||SUBTOTAL||</td>
        </tr>
        <tr>
          <td height="25" align="right" bgcolor="#FFFFFF">||TAX||</td>
        </tr>
        <tr>
          <td height="25" align="right" bgcolor="#FFFFFF">||TOTAL||</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="52">&nbsp;</td>
  </tr>
  <tr>
    <td height="24"> Please review the quote order as you requested. If you have any questions, please
      free to contact me. </td>
  </tr>
  <tr>
    <td height="24"> Purchase order prepared by: <strong>||SALESMANAGERNAME||</strong>, TPS360&deg; LLC,
      USA </td>
  </tr>
  <tr>
    <td height="29" valign="bottom">To Accept this quote, sign here and return: ................................................................................................................................................... </td>
  </tr>
  <tr>
    <td height="29">&nbsp;</td>
  </tr>
  <tr>
    <td height="60" align="center" valign="middle" style="border-bottom: 1px solid #000000;"><strong>THANK YOU FOR YOUR BUSINESS!</strong></td>
  </tr>
</table>
