body {
	background-color: #fafafa;
	background: url("http://i.imgur.com/q4E3d.png") repeat scroll 0 0 transparent;
}

.section {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 18px;
}

.section-header {
	background-color: #F6F6F6;
	background-image: -moz-linear-gradient(center top , #FAFAFA, #F2F2F2);
	background-repeat: repeat-x;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
}

.section-header h3, .section-header h5 {
    color: #555555;
    float: left;
    line-height: 46px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
}
h3 {
    font-size: 18px;
    line-height: 27px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin: 0;
    text-rendering: optimizelegibility;
}
.section-body {
	min-height: 18px;
	padding: 9px 15px 0;
}

th .checkbox {
	margin-bottom: 0px; //align header checkbox with table column headers.
}


@media only screen and (max-width: 800px) {
.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }
table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
th,
td { margin: 0; vertical-align: top; }
th { text-align: left; }
table { display: block; position: relative; width: 100%; }
thead { display: block; float: left; }
tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
thead tr { display: block; }
th { display: block; text-align: right; }
tbody tr { display: inline-block; vertical-align: top; }
td { display: block; min-height: 1.25em; text-align: left; }
 
 
/* sort out borders */
 
th { border-bottom: 0; border-left: 0; }
td { border-left: 0; border-right: 0; border-bottom: 0; }
tbody tr { border-left: 1px solid #babcbf; }
th:last-child,
td:last-child { border-bottom: 1px solid #babcbf; }
}
