/* Ensure that page bg is displayed */
html, #Body,#WrapperOuter,#Footer
{
	background-color: #4E9258 !important;
	/*background: url("../Images/bgnoise.png") repeat scroll 0 0 transparent !important;*/
}
.bg
{
	background: #FAFAFA;
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.bg > .header
{
	background: white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	height: 60px;
	width: 100%;
}

td 
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Quick List styles */

.LinkButtonMouseOver:hover
{
	text-decoration: underline;
}

.CommonListingTitle
{
	padding-left: 12px;
}

.CommonListingArea
{
	margin-left: 12px;
	padding-bottom: 8px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #eeeeee;
	margin-bottom: 8px;
	position: relative;
}

.CommonListingHeader
{
	color: #999999;
	font-size: 110%;
	margin: 0px;
	padding: 0px;
	margin-bottom: 4px;
}

.CommonListingContent
{
	color: #000000;
}

ul.CommonListingActionList
{
	margin: 0px;
	margin-top: 2px;
	padding: 0px;
}

ul.CommonListingActionList li
{
	margin: 0px;
	padding: 0px;
	list-style-type: square;
	margin-left: 16px;
	color: #698d73;
}

.CommonListingArea A:LINK, .CommonListingArea A:ACTIVE, .CommonListingArea A:VISITED
{
	color: #000000;
	text-decoration: none;
}

.CommonListingArea A:HOVER
{
	color: #006633;
	text-decoration: underline;
}

/* Quick List styles END*/

.TabContentHolder
{
	padding: 20px 20px 20px 20px;
	text-align: left;
}

.updateProgress
{
	border-width: 1px;
	border-style: solid;
	background-color: #CCCCCC;
	position: absolute;
	width: 130px;
	height: 50px;
}
.updateProgressMessage
{
	margin: 3px;
	font-family: Trebuchet MS;
	font-size: small;
	vertical-align: middle;
}

/* details styles */
.detailview
{
	width: 100%;
	empty-cells: show;
}
.detailview TH
{
	text-align: left;
	padding: 0px 10px;
	color: #333;
}
.details .footer
{
	text-align: right;
	padding: 10px 10px 0px 0px;
}
.details .headersub
{
	text-align: left;
	padding: 0px 10px;
	font-weight: bold;
	display: none;
}

.edit
{
	padding: 10px 5px;
}
.edit, .edit-info
{
	background-color: #F0F8FF;
}

.edit-info TD.command
{
	text-align: center;
}

.edit-info TD
{
	text-align: left;
	padding: 5px 4px;
	border-top: solid 1px #E2EBF2;
}
.edit-info TD
{
	border-top: dashed 1px #5E8CC6;
	font-weight: bold;
	color: #333;
}
TR.first TD
{
	border-top: none;
}
.edit
{
	border-bottom: dashed 1px #5E8CC6;
}
.edit-info A
{
	font-weight: normal;
}

/* ajax__tab_xp-theme theme */
.ajax__tab_xp-theme .ajax__tab_header
{
	font-family: verdana,tahoma,helvetica;
	font-size: 11px;
	background: url(../images/xp/tab-line.gif) repeat-x bottom;
}
.ajax__tab_xp-theme .ajax__tab_header .ajax__tab_outer
{
	padding-right: 4px;
	background: url(../images/xp/tab-right.gif) no-repeat right;
	height: 21px;
}
.ajax__tab_xp-theme .ajax__tab_header .ajax__tab_inner
{
	padding-left: 3px;
	background: url(../images/xp/tab-left.gif) no-repeat;
}
.ajax__tab_xp-theme .ajax__tab_header .ajax__tab_tab
{
	height: 13px;
	padding: 4px;
	margin: 0;
	background: url(../images/xp/tab.gif) repeat-x;
}
.ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_outer
{
	background: url(../images/xp/tab-hover-right.gif) no-repeat right;
}
.ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_inner
{
	background: url(../images/xp/tab-hover-left.gif) no-repeat;
}
.ajax__tab_xp-theme .ajax__tab_hover .ajax__tab_tab
{
	background: url(../images/xp/tab-hover.gif) repeat-x;
}
.ajax__tab_xp-theme .ajax__tab_active .ajax__tab_outer
{
	background: url(../images/xp/tab-active-right.gif) no-repeat right;
}
.ajax__tab_xp-theme .ajax__tab_active .ajax__tab_inner
{
	background: url(../images/xp/tab-active-left.gif) no-repeat;
}
.ajax__tab_xp-theme .ajax__tab_active .ajax__tab_tab
{
	background: url(../images/xp/tab-active.gif) repeat-x;
}
.ajax__tab_xp-theme .ajax__tab_body
{
	font-family: verdana,tahoma,helvetica;
	font-size: 10pt;
	border: 1px solid #999999;
	border-top: 0;
	padding: 8px;
	background-color: #ffffff;
}

/* ajax__tab_yuitabview-theme theme (img/yui/sprite.png) */
.ajax__tab_yuitabview-theme .ajax__tab_header
{
	font-family: arial,helvetica,clean,sans-serif;
	font-size: small;
	border-bottom: solid 5px #2647a0;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer
{
	background: url(../images/yui/sprite.png) #d8d8d8 repeat-x;
	margin: 0px 0.16em 0px 0px;
	padding: 1px 0px 1px 0px;
	vertical-align: bottom;
	border: solid 1px #a3a3a3;
	border-bottom-width: 0px;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{
	color: #000;
	padding: 0.35em 0.75em;
	margin-right: 0.01em;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer
{
	background: url(../images/yui/sprite.png) #bfdaff repeat-x left -1300px;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab
{
	color: #fff;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
	background: url(../images/yui/sprite.png) #2647a0 repeat-x left -1400px;
}
.ajax__tab_yuitabview-theme .ajax__tab_body
{
	font-family: verdana,tahoma,helvetica;
	font-size: 10pt;
	padding: 0.25em 0.5em;
	background-color: #edf5ff;
	border: solid 1px #808080;
	border-top-width: 0px;
}

/*Grouping ListView */
.GroupingListview
{
	border: solid 1px #a5a4bd;
	width: 620px;
	padding-bottom: 10px;
}

.GroupingListview TABLE
{
	width: 620px;
}

/* grid headers */
.GroupingListview .head TH
{
	background: #e9e9eb url(Images/Header-bg.gif);
	height: 24px;
	line-height: 24px;
	color: #666666;
	text-align: center;
}
GroupingListview .head TH.first
{
	/* get rid of the first slash */
	background: #e9e9eb url(Images/Header-bg.gif) -3px;
	width: 20px;
}

/* group header */

.GroupingListview .group
{
}

.GroupingListview .group TH
{
	padding: 10px 0px 2px 0px;
	color: #666666;
	text-align: left;
	border-bottom: solid 1px #a5a4bd;
}
.GroupingListview .group TH.first
{
	text-align: center;
	width: 20px;
}

/* data items */
.GroupingListview .item TD
{
	padding: 3px 0px 3px 6px;
	border-bottom: solid 1px #eae9e1;
	color: #222222;
}

.hidden
{
	display: none;
	visibility: hidden;
}

.GroupingListview .altrow
{
	background-color: #EBF4FA;
}

.GroupingListview .row
{
	background-color: #fff;
}

/*
Message Styles
*/

.CommonMessageArea
{
	width: 50%;
	margin-top: 64px;
	margin-bottom: 64px;
	background-color: #ffffff;
}

.CommonMessageTitle
{
	text-align: left;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 140%;
	font-weight: bold;
	background-color: #e2eecd;
	color: #698d73;
	padding: 2px;
	padding-left: 8px;
	margin: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

.CommonMessageContent
{
	font-family: Tahoma, Arial, Helvetica;
	font-size: 100%;
	color: #000000;
	padding: 8px;
	padding-bottom: 16px;
	text-align: left;
	border-style: solid;
	border-width: 1px;
	border-top-width: 0px;
	border-color: #cccccc;
}


.CommonMessageError
{
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 4px;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 100%;
	color: #000000;
	font-weight: bold;
	border: 1px solid #FFCC66;
	background-color: #FFFFCC;
}

.CommonAlertMessage
{
	font-family: Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
	border: 2px solid #FFCC66;
	background-color: #FFFFCC;
	position: fixed;
	text-align: left;
	margin: 0px;
	width: 99.5%;
	height: 20px;
	top: 0px;
	left: 0px;
	padding: 10px 0px 10px 0px;
	z-index: 999;
}


.SideBarContenth2
{
	border-bottom: 1px solid #b4d2ee;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
}

.navLink
{
	font-family: Tahoma;
	color: #000000;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
}

.navLink:hover
{
	font-family: Tahoma;
	color: #006633;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	text-decoration: underline;
}

.highLightFont
{
	font-family: Tahoma;
	color: #000000;
	font-size: 13px;
	font-weight: bold;
}

/* Quick List styles */

.CommonDashboardTitle
{
	padding-left: 12px;
}

.CommonDashboardArea
{
	margin-left: 12px;
	padding-bottom: 8px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #eeeeee;
	margin-bottom: 8px;
	position: relative;
}

.CommonDashboardHeader
{
	color: #999999;
	font-size: 110%;
	margin: 0px;
	padding: 0px;
	margin-bottom: 4px;
}

.CommonDashboardContent
{
}

ul.CommonDashboardActionList
{
	margin: 0px;
	margin-top: 2px;
	padding: 0px;
}

ul.CommonDashboardActionList li
{
	margin: 0px;
	padding: 0px;
	list-style-type: square;
	margin-left: 16px;
	color: #6ca1e4;
}

.CommonDashboardArea A:LINK, .CommonDashboardArea A:ACTIVE, .CommonDashboardArea A:VISITED
{
	color: #0000ff;
	text-decoration: underline;
}

.CommonDashboardArea A:HOVER
{
	color: #3399FF;
	text-decoration: underline;
}

/* Quick List styles END*/

.alertInfo
{
	font-size: x-small;
	padding-top: 6px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 18px;
	color: #999999;
}

#SecondaryNavWrap
{
	position: relative;
	margin: 0px 0px 0px 9px;
	text-align: left;
}

.SecondaryNav
{
	position: absolute;
	min-width: 96%;
	font-size: 100%;
	text-align: right;
	visibility: hidden;
	color: #999999;
	letter-spacing: 0.03em;
	top: 36px;
	z-index: 100;
}

.SecondaryNav a
{
	color: #003366;
	text-decoration: none;
}

.SecondaryNav a:hover
{
	color: #4c74a2;
	text-decoration: underline;
}

/******************** Color Picker Starts **************/
#TopBarContentLeft
{
	width: 50%;
	position: relative;
	float: left;
}

#TopBarContentRight
{
	width: 40%;
	position: relative;
	float: right;
	font-weight: bold;
	padding-top: 3px;
	text-align: right;
	font-size: 12px;
}

#ColorPickerContainer
{
	padding: 6px 0px 0px 20px;
	width: 100%;
}

.PickerHolder
{
	padding: 0px 2px 0px 2px;
	position: relative;
	float: left;
}

/********************* Color Picker Ends here ***********************/

/********** Box Part Starts Here *************/

.MainBox
{
	width: 55%;
	margin-left: auto;
	margin-right: auto;
}

.MainBoxLeft
{
	width: 60%;
	float: left;
}

.MainBoxRight
{
	width: 39%;
	float: right;
}

.BoxHeader
{
	border: 1px solid #949494;
	height: 24px;
	position: relative;
	margin-right: 8px;
	background-image: url(../Images/BoxImages/bg_boxheader_container.gif);
	background-repeat: repeat-x;
}

.BoxHeaderContainer
{
	margin: 3px;
	height: 16px;
	border-top: 1px solid #F9F9F9;
	border-right: 1px solid #F9F9F9;
	border-left: 1px solid #8B8B8B;
	border-bottom: 1px solid #8B8B8B;
	background-image: url(../Images/BoxImages/bg_boxheader_container.gif);
	background-repeat: repeat-x;
}

.HeaderDevider
{
	position: relative;
	height: 4px;
}

.MasterBoxContainer
{
	background-image: url(../Images/BoxImages/BoxHorizontalBg.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	position: relative;
	bottom: -8px;
}

.ChildBoxContainer
{
	background-image: url(../Images/BoxImages/RightBg.gif);
	background-position: right;
	background-repeat: repeat-y;
	border-top: 1px solid #949494;
	border-left: 1px solid #949494; /*background-color: #ffffff;*/
}

.BoxContainer
{
	padding: 2px; /*background-color: #000099;*/
	margin: 24px 18px 0px 10px;
	min-height: 200px;
	bottom: 16px;
	position: relative;
	text-align: justify;
	text-align: center;
}

.RightTopImage
{
	position: absolute;
	top: 0px;
	right: 0px;
}

.LeftBottomImage
{
	position: relative;
	bottom: 9px;
	left: -1px;
	float: left;
}

.RightBottomImage
{
	position: relative;
	bottom: 9px;
	right: 0px;
	float: right;
}

.TitleBoxLeft
{
	float: left;
}

.TitleBoxMid
{
	padding-top: 1px;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	width: 50%;
	float: left;
	text-align: left;
}

.TitleBoxRight
{
	float: right;
}

.AddLink
{
	color: #0000FF;
	text-decoration: underline;
}

.AddLink:hover
{
	color: #0099FF;
	text-decoration: none;
}

/********** Box part ends here *************/
#HeaderBar
{
	height: 60px;
	width: 100%;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
	background-color: #ffffff !important;
}

#LogoContainer
{
	float: left;
	padding-left: 5px; 
	padding-top: 9px; 
	padding-right: 5px;
}

#HeaderBarMiddle
{
	width: 60%;
	float: right;
	height: 67px;
}

#HeaderBarRight
{
	float: right;
	text-align: left;
	margin-right: 3px;
}

#SettingMenuHolder
{
	float: right;
	clear: both;
	margin-left: auto;
	text-align: center;
	padding-bottom: 8px;
	padding-top: 4px;
}

#SettingMenuHolder a:link
{
	color: Blue;
	text-decoration: none;
	font-size: 11px;
}
#SettingMenuHolder a:hover
{
	color: #3399FF;
	text-decoration: underline;
}

#SearchHolder
{
	float: right;
	clear: both;
	margin-left: auto;
}

#MenuBar
{
	height: 45px;
	background-color: #2C62FC; /*#bfdbff;*/
	border-top: 1px solid #afcff7;
}

#MasterMenuBar
{
	height: 19px;
	padding-top: 6px;
}

#ChildMenuBar
{
	background-color: #7DBEFF; /*#d6e8ff;*/
	height: 17px;
	width: 100%;
	font-size: 9px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
	white-space: nowrap;
	min-width: 970px;
	padding: 2px;
}

#OverviewMenu
{
	height: 18px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.ScrollStyleSubmenu
{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	background-color: #7DBEFF;
	height: 25px;
}
.ScrollStyleMainmenu
{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	height: 25px;
	padding: 0px;
}
.basictab
{
	padding: 0px 0;
	margin-left: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	list-style-type: none;
	margin-bottom: 0;
	text-align: left;
	background-color: #2C62FC; /*#bfdbff;*/
	height: 18px;
	display: inline;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	width: 96%;
	position: inherit; /*  z-index:1000px;*/
}

.basictab ul
{
	display: inline;
	height: 18px;
}

.basictab li
{
	display: inline;
	height: 18px;
}

.basictab li a
{
	position: relative;
	text-decoration: none;
	padding: 5px 4px 5px 4px;
	color: White; /*#000000;*/
	background-color: #2C62FC; /*#bfdbff;*/
	height: 18px;
}

.basictab li a:visited
{
	position: relative;
	color: white;
	height: 18px;
	padding: 5px 4px 5px 4px;
}

.basictab li a:hover
{
	position: relative;
	background-color: #d6e8ff; /*#9cbcd5;*/
	color: #000000;
	height: 18px;
	padding: 5px 4px 5px 4px;
}

.basictab li a:active
{
	position: relative;
	color: black;
	height: 18px;
	padding: 5px 4px 5px 4px;
}

.basictab li.selected a
{
	background-color: #d6e8ff;
	color: black;
	border-left: 1px solid #eff5fc;
	border-top: 1px solid #eff5fc;
	border-right: 1px solid #afcff7;
	position: relative;
	height: 18px;
}


.submenustyle
{
	padding: 2px 0px 5px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	width: 70%;
	display: none;
	height: 28px;
}

* html .submenustyle
{
	width: 100%;
}

.submenustyle a
{
	padding: 7px 7px 7px 7px;
	text-decoration: none;
	color: #000000;
}

.submenustyle a:hover
{
	background-color: #e4effd;
	color: #000000;
}

.submenustyle a:active
{
	color: #000000;
}

.subMenuSelected
{
	background-color: #e4effd;
	border-left: 1px solid #afcff7;
	border-top: 1px solid #afcff7;
	border-right: 1px solid #afcff7;
}
/* Defect id: 10012 */
.overviewtab
{
	padding: 4px 0px 0px 0px;
	margin-left: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0px;
	text-align: left;
	background-color: #7DBEFF; /*#bfdbff;*/
	height: 15px;
	display: inherit;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	width: 96%;
	position: absolute; /*  z-index:1000px;*/
}

.overviewtab ul
{
	display: inline;
	height: 19px;
}

.overviewtab li
{
	display: inline;
	height: 19px;
}

.overviewtab li a
{
	position: relative;
	text-decoration: none;
	padding: 6px 7px 6px 7px;
	color: #000000; /*White;*/
	background-color: #7DBEFF; /*#bfdbff;*/
}

.overviewtab li a:visited
{
	position: relative;
	color: Black;
}

.overviewtab li a:hover
{
	position: relative;
	background-color: #e4effd; /*#9cbcd5;*/
	color: Black; /*#000000;*/
}

.overviewtab li a:active
{
	position: relative;
	color: Black;
	background-color: #e4effd;
}

.overviewtab li.selected a
{
	background-color: #e4effd;
	color: Black;
	border-left: 1px solid #eff5fc;
	border-top: 1px solid #eff5fc;
	border-right: 1px solid #afcff7;
	position: relative;
}
/* Defect id: 10012 */
#HeaderBarRight img
{
	border: 0px;
	margin-bottom: 0;
}
#HeaderBarRight a
{
	margin-bottom: 1px;
}

/*********************************************/
#footerMenu
{
	text-align: right;
}
#footerMenu a
{
	font-size: 11px;
	color: Blue;
	text-decoration: underline;
}
#footerMenu a:hover
{
	text-decoration: none;
	color: #3399FF;
}
#footerMenu a:visited
{
	color: Blue;
}
.footerPipe
{
	padding: 5px;
}
.helpLink
{
	font-size: 11px;
	text-decoration: underline;
	color: Blue;
	cursor: pointer;
}
.helpLink:hover
{
	text-decoration: none;
	color: #3399FF;
}
.helpLink:visited
{
	color: Blue;
	text-decoration: underline;
}
.demoh2
{
	border-bottom: 2px solid #e2c822;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 2px;
}

/*Modal PopUp*/
.modalPopup
{
	background-color: #D6E8FF;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 3px;
}
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.1;
}
.DarkModalBackground
{
	background-color: #000000;
	filter: alpha(opacity=30);
	opacity: 0.8;
}
/* TabType1 */
/*#tabs { border-bottom: solid 1px #97acd4; padding:0px; margin:0px; padding-bottom: 1px; }*/
/* Firefox */ul.tabs
{
	list-style-type: none;
	border-bottom: solid 1px #97acd4;
	padding-bottom: -1px;
	margin: 0px;
}
/* IE */* html ul.tabs
{
	list-style-type: none;
	border-bottom: solid 1px #97acd4;
	padding-bottom: 2px;
}

li.tab
{
	border-left: solid 1px #97acd4;
	border-top: solid 1px #97acd4;
	padding-left: 4px;
	padding-right: 4px;
	border-right: solid 1px #97acd4;
	display: inline;
	margin-left: 4px;
	margin-right: 4px;
	padding: 0px;
}
li.newtab
{
	padding-left: 4px;
	padding-right: 4px;
	display: inline;
	margin-left: 4px;
	margin-right: 4px;
	padding: 0px;
}
li.newtab a
{
	text-decoration: none;
}
/* Firefox */li.tab a
{
	font-size: 9pt;
	text-decoration: none;
	padding: 2px 8px 0px 8px;
}
/* IE */* html li.tab a
{
	font-size: 9pt;
	text-decoration: none;
	padding: 2px 8px 2px 8px;
}

li.inactivetab
{
	background-color: #DDE8CC;
}

/* Firefox */li.inactivetab a
{
	border-bottom: solid 1px #97acd4;
}
/* IE */* html li.inactivetab a
{
	border-bottom: solid 1px #97acd4;
}

li.activetab
{
	background-color: White;
}
li.activetab a
{
	border-bottom: solid 1px white;
}

/* TabType1 end */

/* TabType2 */
#TabBottomBar
{
	/*border-left: 1px solid #011e9d; 	border-right: 1px solid #011e9d; 	height: 1px; 	background-color: #011e9d; 	width: 99%; 	margin-left: 11px;*/
}

#TabBody
{
	border-color: #e2e2e2; /*background-color: #f9f9f9;*/
	border: 0px 0px 0px 0px;
	border-style: solid;
	min-height: 350px;
	width: 99%;
}

#TabContainerBar
{
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #afcff7;
	margin-left: auto;
	margin-right: auto;
}

#TabContainer
{
	float: left;
	position: relative; /*border: 1px solid #ff0000;*/
	width: 100%;
}

#TabContainer ul
{
	display: inline;
	list-style-type: none;
	width: 100%; /*border: 1px solid #ff0000;*/
	margin-left: 7px;
	padding-left: 7px;
}

#TabContainer li
{
	display: inline;
	list-style-type: none; /*background-color: #ff0000;*/
}

#TabContainer li a
{
	margin-right: 3px;
	margin-top: 3px;
	position: relative; /*float: left;*/
	border: 1px solid #afcff7;
	border-bottom: none;
	padding: 2px 12px 4px 12px;
	background-color: #e4effd; /*background: url(../Images/InactiveTabBg.jpg) top repeat-x;*/
	height: 18px;
	text-decoration: none;
	color: #666666;
}

#TabContainer li a:hover
{
	border: 1px solid #afcff7;
	border-bottom: none; /*background: url(../Images/TabBgHover.jpg) top repeat-x;*/
}

#TabContainer li a.selected
{
	margin-top: 1px;
	border: 1px solid #afcff7;
	border-bottom: none;
	padding: 3px 12px 4px 12px;
	height: 19px;
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff; /*background: url(../Images/ActiveTabBg.jpg) top repeat-x;*/
	color: #000000;
}
#TabContainer li.active
{
	display: inline;
	list-style-type: none;
	position: relative;
	float: left;
}
.newTab1
{
	margin-top: 1px;
	border: 120px solid #011e9d;
	border-bottom: none;
	padding: 4px 12px 1px 12px;
	height: 19px;
	color: #000000;
	background-color: Green;
}
/* TabType2 end*/
.AddNewPage
{
	cursor: pointer;
}

#tabList
{
	border-bottom: solid 1px #b4d2ee;
	border-left: solid 1px #b4d2ee;
	border-right: solid 1px #e2c822;
	padding: 0px;
	margin: 0px;
	padding-bottom: 1px;
}
/* Firefox */ul.menuList
{
	list-style-type: none;
	border-bottom: solid 1px #b4d2ee;
	border-top: solid 1px #b4d2ee;
	padding-bottom: -1px;
	margin: 0px;
	padding-left: 0px;
	white-space: nowrap;
	overflow: hidden;
	width: 94.5%;
	position: absolute;
}
/* IE */* html ul.menuList
{
	list-style-type: none;
	border-bottom: solid 1px #b4d2ee;
	padding-bottom: 2px;
}

li.menu
{
	border-left: solid 1px #b4d2ee;
	border-top: solid 1px #b4d2ee;
	padding-left: 4px;
	padding-right: 4px;
	border-right: solid 1px #b4d2ee;
	display: inline;
	margin-left: 0px;
	margin-right: 4px;
	padding: 0px;
}
/* Firefox */li.menu a
{
	font-size: 8pt;
	text-decoration: none;
	padding: 2px 8px 0px 8px;
}
/* IE */* html li.menu a
{
	font-size: 8pt;
	text-decoration: none;
	padding: 2px 8px 2px 8px;
}

li.inactiveMenu
{
	background-color: #EEF7FF;
}

/* Firefox */li.inactiveMenu a
{
	border-bottom: solid 1px #b4d2ee;
	color: #000000;
}
/* IE */* html li.inactiveMenu a
{
	border-bottom: solid 1px #b4d2ee;
	color: #000000;
}

li.activeMenu
{
	background-color: #ffffff;
	font-weight: bold;
}
li.activeMenu a
{
	border-bottom: solid 1px #ffffff;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
li.activeMenu a:hover
{
	border-bottom: solid 1px #ffffff;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

.CommonPageBox
{
	border: 1px solid #afcff7;
	width: 100%;
	margin: 0px;
}
.CommonPageBoxHeader
{
	background-color: #e4effd;
	font-weight: bold;
	height: 21px;
	padding-left: 5px;
	padding-top: 2px;
}

.CommonPageBoxContent
{
	padding: 9px;
}

.AjaxTextBoxExtenderContent
{
	position: relative;
	width: 400px;
}
.AjaxTextBoxExtenderSelected
{
	width: 400px;
	background-color: #0099FF;
}
.AutoCompleteBox
{
	background-color: window;
	border: 1px solid buttonshadow;
	color: windowtext;
	cursor: default;
	list-style: none outside none;
	font-weight: normal;
	white-space: normal;
	padding: 0;
	text-align: left;
	margin-top: 0px;
	position: absolute;
	z-index: 9999;
	left: 0px;
	top: 0px;
}
#divReq, #divHot
{
	float: left;
}
.ajaxloading
{
	position: fixed;
	right: 2px;
	bottom: 2px;
}
.autocomplete_highlightedList
{
	font-weight: bold;
	color: Red;
}

.divModalBackground
{
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
	width: 100%;
	background-color: #999988;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 800;
}
.ModalModalBackground
{
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	opacity: 0.4;
	background-color: #999988;
}
.sectionTitle
{
	text-align: left;
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 10px;
	color: #00000;
}


.ContextMenu
{
	cursor: pointer;
	position: absolute;
}

.ContextMenu_List
{
	display: block;
	top: 0px;
	clear: both;
	font-weight: bold;
	margin: 0;
	margin-left: -130px;
	padding: 0;
	border: 1px solid #777777;
	background-color: #FCFCFC;
	width: 166px;
}
.ContextMenu_List li
{
	list-style: none outside none;
	position: relative;
	clear: both;
	font: 9pt Arial,Verdana;
	padding-left: 8px;
	padding-bottom: 3px;
	padding-top: 3px;
	background: none repeat scroll 0 0 #FCFCFC;
	color: #555555;
	border-bottom: 1px solid #FCFCFC;
	border-top: 1px solid #FCFCFC;
}
.ContextMenu_List li a
{
	text-decoration: none;
	color: Black;
}
.ContextMenu_List li:hover
{
	background-color: #E2E2E2;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	color: #1111BB;
}
.ContextMenu #icon
{
	padding: 4px;
	position: relative;
	z-index: 9999;
	float: right;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(119, 119, 119) rgb(119, 119, 119) rgb(252, 252, 252);
	top: 1px;
	clear: both;
	background-color: #FCFCFC;
}
.ContextMenuicon
{
	padding: 4px;
	position: relative;
	z-index: 9999;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(119, 119, 119) rgb(119, 119, 119) rgb(252, 252, 252);
	top: 1px;
	clear: both;
	background-color: #FCFCFC;
}

.BulkActions
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	height: 30px;
}
.BulkActions li
{
	float: left;
	display: block;
	height: 23px;
	line-height: 23px;
	padding: 0 7px;
	padding-bottom: 0px;
	position: relative;
	text-align: center;
	margin: 2px 2px 0 0;
	position: relative;
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
	background-color: transparent;
}
.BulkActions li:hover
{
	border-color: #4291df;
	border-width: 1px;
	border-style: solid;
	background-color: #EFF6FF;
}
.BulkActions a
{
	color: #0088CC;
	text-decoration: none;
}
.BulkActions a:hover
{
	color: #0088CC;
	text-decoration: none;
}


/* Login page styles */

.MasterBoxContainer2
{
	background: none repeat scroll 0 0 #FEFEFE;
	border: 1px solid #BBBBBB;
	color: #373737;
	border-radius: 4px;
	box-shadow: 1px 2px 6px #CCCCCC;
}

.ChildBoxContainer2
{
	padding-top: 7px;
	padding-bottom: 7px;
}

.section-header
{
	background: activeborder ; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, activeborder  100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,activeborder ), color-stop(100%,activeborder )); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, activeborder  0%,activeborder  100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, activeborder  0%,activeborder  100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, activeborder  0%,activeborder  100%); /* IE10+ */
	background: linear-gradient(to bottom, activeborder  0%,activeborder  100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='activeborder',GradientType=0 ); /* IE6-9 */
	
	height: 26px;
	border-bottom: 1px solid #BBBBBB;
	position: relative;
	border-radius: 4px 4px 0pt 0pt;
	font-weight: bold;
	font-size: 15px;
	text-shadow: 0 1px 0 #FFFFFF;
	padding-top: 4px;
	padding-left: 9px;
	/* background-image: -webkit-gradient( 	linear, 	left bottom, 	left top, 	color-stop(0.49, rgb(224,224,224)), 	color-stop(1, rgb(245,245,245)) ); */
	border-left-color: #BBBBBB;
	border-right-color: #BBBBBB;
	border-top-color: #BBBBBB;
}


#Footer
{
	border: 0;
	border-top: 1px solid #EEEEEE;
	background: transparent;
}




#LoginContainer .CommonTextBox
{
	background: none repeat scroll 0 0 #FBFBFB;
	border: 1px solid #E5E5E5;
	box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
	color: #555555;
	font-size: 15px;
	font-weight: 200;
	line-height: 1;
	outline: 0 none;
	padding: 3px;
	width: 100%;
}




.alert
{
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 18px;
	padding: 10px 20px 10px 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.alert-info
{
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #3A87AD;
}

.alert-warning 
{
	color: #c09853;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -16px;
  line-height: 20px;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.login-button
{
	font-size: 16px !important;
	padding: 3px 14px !important;
}



/* bootstrap button styles */
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-large [class^="icon-"] {
  margin-top: 1px;
}

.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}

.btn-small [class^="icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}

.btn-warning {
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}


.btn-group {
  position: relative;
  *margin-left: .3em;
  *zoom: 1;
}

.btn-group:before,
.btn-group:after {
  display: table;
  content: "";
}

.btn-group:after {
  clear: both;
}

.btn-group:first-child {
  *margin-left: 0;
}

.btn-group + .btn-group {
  margin-left: 5px;
}

.btn-toolbar {
  margin-top: 9px;
  margin-bottom: 9px;
}

.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.btn-group > .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.btn-group > .dropdown-toggle {
  *padding-top: 4px;
  padding-right: 8px;
  *padding-bottom: 4px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn-mini.dropdown-toggle {
  padding-right: 5px;
  padding-left: 5px;
}

.btn-group > .btn-small.dropdown-toggle {
  *padding-top: 4px;
  *padding-bottom: 4px;
}

.btn-group > .btn-large.dropdown-toggle {
  padding-right: 12px;
  padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0055cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}

.btn .caret {
  margin-top: 7px;
  margin-left: 0;
}

.btn:hover .caret,
.open.btn-group .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-mini .caret {
  margin-top: 5px;
}

.btn-small .caret {
  margin-top: 6px;
}

.btn-large .caret {
  margin-top: 6px;
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.dropup .btn-large .caret {
  border-top: 0;
  border-bottom: 5px solid #000000;
}

.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

input, button, select, textarea
{
	font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
}


.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.well-small {
  padding: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/* navbar styling */
.nav {
  margin-bottom: 18px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > .pull-right {
  float: right;
}

.nav .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.nav-list [class^="icon-"] {
  margin-right: 2px;
}

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 18px;
  overflow: visible;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .container {
  width: auto;
}

.nav-collapse.collapse {
  height: auto;
}

.navbar {
  font-family: Sans-Serif;
  font-weight: bold;
  font-size: 14px;
}

.navbar .brand:hover {
  text-decoration: none;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}

.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
}

.navbar .navbar-link {
  color: #999999;
}

.navbar .navbar-link:hover {
  color: #ffffff;
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 5px;
}

.navbar .btn-group .btn {
  margin: 0;
}

.navbar-form {
  margin-bottom: 0;
  *zoom: 1;
}

.navbar-form:before,
.navbar-form:after {
  display: table;
  content: "";
}

.navbar-form:after {
  clear: both;
}

.navbar-form input,
.navbar-form select,
.navbar-form .radio,
.navbar-form .checkbox {
  margin-top: 5px;
}

.navbar-form input,
.navbar-form select {
  display: inline-block;
  margin-bottom: 0;
}

.navbar-form input[type="image"],
.navbar-form input[type="checkbox"],
.navbar-form input[type="radio"] {
  margin-top: 3px;
}

.navbar-form .input-append,
.navbar-form .input-prepend {
  margin-top: 6px;
  white-space: nowrap;
}

.navbar-form .input-append input,
.navbar-form .input-prepend input {
  margin-top: 0;
}

.navbar-search {
  position: relative;
  float: left;
  margin-top: 6px;
  margin-bottom: 0;
}

.navbar-search .search-query {
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  background-color: #626262;
  border: 1px solid #151515;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

.navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

.navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

.navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-right: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-bottom {
  bottom: 0;
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  padding-left: 0px;
}

.navbar .nav.pull-right {
  float: right;
}

.navbar .nav > li {
  display: block;
  float: left;
  padding-top: 15px;
  cursor: pointer;
}

.navbar .nav > li > a {
  float: none;
  padding: 9px 5px 11px;
  line-height: 11px;
  color:Black ;
  text-decoration: none;
  height:11px;
  font-family:Bell MT ;
  font-size :17px;
  font-weight :bold !important;
  background-color: white;
    border: 1px solid gray;
    border-radius: 8px 8px 8px 8px;
    margin:1px;
}

.navbar .btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin: 5px 5px 6px;
  line-height: 18px;
}

.navbar .btn-group {
  padding: 5px 5px 6px;
  margin: 0;
}

.navbar .nav > li > a:hover {
  color: #5f7890;
  text-decoration: none;
  background-color: transparent;
}

.dropdown + .active > a {
  background: url("../assets/img/activeindicator.png") no-repeat scroll center 37px transparent !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #5f7890;
}

.navbar .divider-vertical {
  width: 1px;
  height: 40px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222222;
  border-right: 1px solid #333333;
}

.navbar .nav.pull-right {
  margin-right: 0;
  margin-left: 10px;
}

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #2c2c2c;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  background-color: #222222;
  *background-color: #151515;
}

.navbar .btn-navbar:active,
.navbar .btn-navbar.active {
  background-color: #080808 \9;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

.navbar .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.navbar .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.navbar-fixed-bottom .dropdown-menu:before {
  top: auto;
  bottom: -7px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.navbar-fixed-bottom .dropdown-menu:after {
  top: auto;
  bottom: -6px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.navbar .nav li.dropdown.active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
}

.navbar .nav li.dropdown.active > .dropdown-toggle:hover {
  
}

.navbar .pull-right .dropdown-menu,
.navbar .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.navbar .pull-right .dropdown-menu:before,
.navbar .dropdown-menu.pull-right:before {
  right: 12px;
  left: auto;
}

.navbar .pull-right .dropdown-menu:after,
.navbar .dropdown-menu.pull-right:after {
  right: 13px;
  left: auto;
}

.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle {
  *margin-bottom: -3px;
}

.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}

.dropdown:hover .caret,
.open .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

.dropdown-menu {
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff !important;
  text-decoration: none;
  background-color: #0088cc;
}

.dropdown-menu-custom {
	display: block;
	background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 1px 0 0;
    min-width: 160px;
    padding: 9px;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.dropdown-menu-custom select {
	margin: 0px;
}

.open {
  *z-index: 1000;
}

.open > .dropdown-menu {
  display: block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid #000000;
  content: "\2191";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}


/* main content container styles */

.section {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	margin-top: 18px;
}

.section-header {
	/*background-color: #F6F6F6;
	background-image: -moz-linear-gradient(center top , #FAFAFA, #F2F2F2);*/
	background-repeat: repeat-x;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #FFFFFF;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
}

.section-header h3, .section-header h5 {
    color: black;
    float: left;
    line-height: 46px;
    text-shadow: 1px 1px 0 #FFFFFF;
    text-transform: uppercase;
}
h3 {
    font-size: 18px;
    line-height: 27px;
}
h1, h2, h3, h4, h5, h6 {
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin: 0;
    text-rendering: optimizelegibility;
}
.section-body {
	min-height: 18px;
	padding: 9px 15px;
}


#BodyMiddle 
{
	float: none;
	margin: 0 auto;
}

/* Form Styling */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.TableFormLeble 
{
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
}

.form-actions {
	padding: 17px 20px 18px;
	margin-top: 18px;
	margin-bottom: 18px;
	background-color: whiteSmoke;
	border-top: 1px solid #E5E5E5;
}

.legend {
display: block;
width: 100%;
padding: 0;
margin-bottom: 27px;
font-size: 19.5px;
line-height: 36px;
color: #333;
border: 0;
border-bottom: 1px solid #E5E5E5;
}



.centered 
{
	text-align:center;
}


.spacer {
margin-top: 10px;
padding-top: 10px;
border-top: 1px solid #DDD;
}

.SearchTitleContainer 
{
	background-color:ActiveBorder ;
}

.SearchTextbox{padding:3px 3px 3px 17px !important;}

.nomargin 
{
	margin: 0;
}

.SearchTitleContainer > .TitleContainer 
{
	margin-top: -2px;
	font-size: 13px;
}


[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../assets/img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.icon-search {
	background-position: -48px 0;
}
.icon-white {
	background-image: url("../assets/img/glyphicons-halflings-white.png");
}
.icon-envelope {
  background-position: -72px 0;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-wrench {
  background-position: -360px -144px;
}						

.icon-off {
  background-position: -384px 0;
}

.icon-folder-open {
    background-position: -408px -120px;
}

.icon-upload {
    background-position: -288px -144px;
}

[class^="customicon-"] {
	display: inline-block;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    width: 14px;
}

.customicon-nextpage-grey {
	background-image: url("../assets/img/icon_nextpage-grey.png");
}
.customicon-previouspage-grey {
	background-image: url("../assets/img/icon_previouspage-grey.png");
}
.customicon-lastpage-grey {
	background-image: url("../assets/img/icon_lastpage-grey.png");
}
.customicon-firstpage-grey {
	background-image: url("../assets/img/icon_firstpage-grey.png");
}

.btn 
{
	text-decoration: none;	
}

.Grid, .CandidateGrid 
{
	table-layout: fixed;	
}

.Grid 
{
	font-size: 13px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #DDD;
	border-collapse: separate;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.Grid th, .Grid td {
	border-left: 1px solid #DDDDDD !important;
	border-top: 1px solid #DDDDDD !important;
	border-bottom: none !important;
	border-right: none;
	padding: 8px;
	line-height: 18px;
	text-align: left;
	display: table-cell;
}


.Grid th 
{
	background: #B5EAAA;	
	white-space: normal;
}


.Grid tr 
{
	display: table-row;
	vertical-align: inherit;
}
.Grid .altrow {
    background-color: #F9F9F9;
}

.Grid .Expandaltrow {
    background-color: #F9F9F9;
}

.Grid .row:hover, .Grid .altrow:hover {
	background-color: whiteSmoke;
}


.pagination {
  height: 36px;
  margin: 18px 0;
  margin-top: 0px !important;
}

.pagination ul 
{
	padding: 0px;
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
  display: inline;
}

.pagination a 
{
	background-color:#FFFFFF;
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
  padding-bottom: 11px;
  padding-top: 12px;
}

.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}

.pagination .active a {
  color: #999999;
  cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  cursor: default;
  background-color: #F0F0F0;
}

.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.firstPagerLiBorder {
border-left-width: 1px !important;
border-radius: 3px 0 0 3px;
}

a {
	color: #08C;
	text-decoration: none;
	cursor :pointer ;
}

.CommonDropDownList 
{
	font-size: 13px;
	height :25px;

 background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}


.imgShowHide 
{
	padding-top:3px;
	margin-left:-3px;
}

.ReportGrid 
{
	table-layout: auto;	
}

.EmptyDataTable  
{
	margin-top:	10px;
}
.EmptyDataTable td {
    background-color: transparent;
    border: none;
    color: inherit;
}

.pull-left 
{
	float:left;
}

.pull-right:
{
	float:right;
}

.progress {
  height: 18px;
  
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
  width: 0;
  height: 18px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(top, #149bdf, #0480be);
  background-image: -ms-linear-gradient(top, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
      -ms-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.Pager 
{
	background: none repeat scroll 0 0 #F9F9F9;
}
.Pager td 
{
	padding: 0px;
}

.pagination 
{
	margin-bottom: 10px;
}

.section-body 
{
	font-size: 13px;
}


/* Dashboard */

.widgetContainer {
border-radius: 4px 4px 4px 4px;
border: 1px solid #CCCCCC;
background: #FFFFFF;
}

.widgetContainer > .titleContainer {
	background: #efefef; /* Old browsers */
	
	height: 20px;
	border-bottom: 1px solid #BBBBBB;
	position: relative;
	border-radius: 4px 4px 0pt 0pt;
	font-weight: bold;
	font-size: 12px;
	text-shadow: 0 1px 0 #FFFFFF;
	padding-top: 2px;
	padding-left: 4px;
	
	border-left-color: #BBBBBB;
	border-right-color: #BBBBBB;
	border-top-color: #BBBBBB;
}

#TabContainer li a 
{
	background: #EFEFEF;
	border-color: #CCCCCC;
}

#TabContainer li a.selected 
{
	background: #f8f8f8;
	border-color: #CCCCCC;
}

/* fix th spacing of widget tables */
.widgetContainer table {
    table-layout:auto;
}


.Ascending
 {
     background : #B5EAAA url('../Images/uparrow-header.gif')  no-repeat right !important;
 }
  .Descending
 {
 	background : #B5EAAA url('../Images/downarrow-header.gif')  no-repeat right !important;
 }
 
 /******** Side bar **************/

.withsidebar 
 {
 	padding: 0 0 0 190px;
	background-color: #FAFAFA;
 	overflow: auto;
 	background: url("../Images/sidebarbg.gif") repeat-y scroll  0 0 #FFFFFF;
 	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
 }
 
 .sidebar 
 {
 	float: left;
    font-size: 11px;
    width: 190px;
    margin-left: -190px;
 	height:100%;
 }
 
 .sidebar .sidemenu 
 {
 	list-style: none outside none;
    margin: 0 0 10px;
    padding: 0;
 }
 
 .sidebar .sidemenu li 
 {
 	background: none repeat scroll 0 center transparent;
    border-bottom: 1px solid #CCCCCC;
    margin: 0;
    padding: 0;
 }

.sidebar .sidemenu a
 { 
	display: block;
    font-weight: bold;
	font-size: 14px;
    padding: 10px 13px;
    color: #008EE8;
 }
 
.sidebar .sidemenu a:hover
 { 
	background-color: #FDFDFD;
	border-right: 1px solid #CCCCCC;
	padding :10px 12px 10px 13px;
	color: #EC8526;
 }
 
.sidebar .sidemenu li.active a
 {  
 	
 background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    color: #EC8526;
    	padding :10px 12px 10px 13px;
 }
 
 .sidebar_content 
 {
 	float: left;
    width: 100%;
 }
 
 .sidebar_content .container
 {
	padding: 18px;
 }
 

.icon-lock {
    background-position: -287px -24px;
}
.section {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px 4px 4px 4px;
	margin-bottom: 18px;
}

.section-body {
	min-height: 15px;
	padding: 9px 15px;
}

.icon-cog {
    background-position: -432px 0;
}

.icon-circle-arrow-down {
    background-position: -312px -144px;
}


.label,
.badge {
  font-size: 10.998px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}


.badge {
  padding: 1px 9px 2px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}
.TabPanelHeader
{
	font-size:15px;
	height: 30px;
	margin-bottom:10px;
	display: block;
	width: 100%;
	padding: 0;
	font-weight: bold;
	line-height: 36px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #E5E5E5;
}

.TabPanelHeadersmall {
	font-size: 13.5px;
	color: #999;
    font-weight: normal;
}
a[disabled=disabled] {
  color: black;
   cursor :default ;
 
}



.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

.filter-section
{
	overflow: hidden; background-color: ActiveBorder ;
}