
#LayoutPickerPopup 
{ 
	display:none; 
	z-index: 60000; 
	position: absolute; 
	left: 50%; 
	top: 50%; 
	margin-left: -150; 
	margin-top: -60; 
	width: 300px; 
	height: 150px; 
	border: solid 2px #b4d2ee; 
	padding: 10px;
	background: white url(Images/Dashboard/warning.jpg) no-repeat 10px 10px; 
	text-align: center 
}
#LayoutPickerPopup h1 { margin-left: 30px; font-size: 120% }
#LayoutPickerPopup p { margin-top: 10px; margin-bottom: 10px; clear: both }

#DeleteConfirmPopup 
{ 
	display:none; 
	z-index: 60000; 
	position: absolute; 
	left: 50%; 
	top: 50%; 
	margin-left: -150; 
	margin-top: -60; 
	width: 300px; 
	height: 120px; 
	border: solid 2px #b4d2ee; 
	padding: 10px;
	background: white url(Images/Dashboard/warning.jpg) no-repeat 10px 10px; 
	text-align: center 
}
#DeleteConfirmPopup h1 { margin-left: 30px; font-size: 120% }
#DeleteConfirmPopup p { margin-top: 10px; margin-bottom: 10px; clear: both }

#DeletePageConfirmPopup
{ 
	display:none; 
	z-index: 60000; 
	position: absolute; 
	left: 50%; 
	top: 50%; 
	margin-left: -150; 
	margin-top: -60; 
	width: 300px; 
	height: 120px; 
	border: solid 2px #b4d2ee; 
	padding: 10px;
	background: white url(Images/Dashboard/warning.jpg) no-repeat 10px 10px; 
	text-align: center 
}
#DeletePageConfirmPopup h1 { margin-left: 30px; font-size: 120% }
#DeletePageConfirmPopup p { margin-top: 10px; margin-bottom: 10px; clear: both }

.widget_holder { min-height: 400px; }

.widget_fullview { min-height :300px; }
.widget_Scheduleview { min-height :240px; }
/*.widget
{
   width:98%;
   position: relative; 
   left: 0px; 
   top: 0px;
   margin-bottom:20px;
   background-color:inherit;
   clear:both;
}*/

.WidgetMasterBoxContainer
{
	background-image: url(../Images/Dashboard/BoxHorizontalBg.gif);
	background-position: bottom;
	background-repeat: repeat-x;
	position: relative;	
	bottom: -8px;
	clear:both;
}

.WidgetChildBoxContainer
{
	background-image: url(../Images/Dashboard/RightBg.gif);
	background-position: right;
	background-repeat: repeat-y;
	border-top: 1px solid #949494;
	border-left: 1px solid #949494;
}

.WidgetBoxContainer
{
	padding: 2px;
	margin: 24px 18px 0px 10px;
	min-height:100px;
	bottom: 16px;
	position: relative;
	text-align:justify;
	text-align: left;
	clear:both;
}

.widget_header 
{ 
    width:100%;    
}

.WidgetBoxHeader
{
	border: 1px solid #949494;
	height: 24px;
	position: relative;
	margin-right: 8px;	
	background-image:url(../Images/Dashboard/bg_boxheader_container.gif);
	background-repeat:repeat-x;
	font-size: 80%; 
	clear:both;
}

.WidgetBoxHeaderContainer
{
	margin:3px;
	height:16px;
	border-top:1px solid #F9F9F9;
	border-right:1px solid #F9F9F9;
	border-left:1px solid #8B8B8B;
	border-bottom:1px solid #8B8B8B;
	background-image:url(../Images/Dashboard/bg_boxheader_container.gif);
	background-repeat:repeat-x;
	background-color:#DDE8CC;
	font-weight: bold;    
    text-align:left;
    clear:both;
}

.HeaderDevider
{
	position: relative;
	height: 4px;
}

.widget_header_table 
{ 
    width:100%;
    border-top:0px solid #97acd4;
    padding:0px;
    margin:0px;    
}

.widget_title 
{ 
    width:100%;
    padding-left:2px;
    font-size: 11px;
    color: #ff0000;
    font-weight:normal;
  
}
.widget_title a 
{ 
    overflow:hidden;
    /*height:1.2em;*/
    color: #465239;
    font-weight: bold;
    text-decoration:none;
}
.widget_collapse, .widget_expand, .widget_close 
{
     display:inline; 
}
.widget_dropzone 
{ 
    border: dashed 2px gray; display:none; margin-bottom:20px; 
 }
.widget_edit 
{
    width:10%;
    background-color:#EAEAF8;
    white-space:nowrap;
    text-align:right;
    padding-top:2px;
    padding-right:2px;
 }
.widget_edit a 
{
    color:#465239;
    text-decoration:none;
}
.widget_edit a:hover 
{
    color:#EAEAF8;
}

.widget_button 
{
    padding-right:0px; vertical-align:top;
}
.widget_min 
{
    background:url(../Images/Dashboard/min_blue.gif);
    	
}
a.widget_min:hover 
{
    background-image:url(../Images/Dashboard/min_blue_highlight.gif);
}
.widget_max 
{
    background-image:url(../Images/Dashboard/max_blue.gif);
    
 }
a.widget_max:hover 
{
    background-image:url(../Images/Dashboard/max_blue_highlight.gif);
}
.widget_close 
{
    background-image:url(../Images/Dashboard/x_blue.gif);
}
a.widget_close:hover 
{
    background-image:url(../Images/Dashboard/x_blue_highlight.gif);
}
.widget_box 
{
    display:block;
    margin-top:3px;
    overflow:hidden;
    width:12px;
    height:12px;
    cursor:hand;
    cursor:pointer;
}

.table_fixed 
{
    table-layout:fixed;
    clear:both;
}

.column { width:32%;vertical-align:top; }

#column1, #column2, #column3
{
	float:left;
	width: 33%;
}
.row
{ 
    width:96%;
    vertical-align:top; 
}

.RightTopImage
{
	position: absolute;
	top: 0px;
	right: 0px;
}

.LeftBottomImage
{
	position: relative;
	bottom: 9px;
	left: -1px;
	float: left;
}

.RightBottomImage
{
	position: relative;
	bottom: 9px;
	right: 0px;
	float: right;
}

.add_stuff_toggle { clear:both; float:right; vertical-align:top; text-align:center; }

.widget_showcase 
{
    background-color: #e4effd; 
    border: solid 1px #afcff7; 
    padding: 8px; 
    clear:both; 
    margin: 10px 0px 10px 0px; 
    width: 98%; 
    height: 100px; 
    float: left; 
    min-height: 40px; 
    height: auto !important; 
    height: 40px;
}

.WidgetList {
	border: 1px solid #31465A;
	padding-left:20px;
	padding-right:20px;	
	width:80%;
	background: url(../Images/Dashboard/bkg_selector.gif) repeat-x ;	
}

.thinblueline {
	border: 1px solid #31465A;
}
.widgetDataList
{	
	 
	 
}

.bodyHeader {
	background: url(../Images/Dashboard/bkg_page.jpg);
	background-repeat: repeat-x;	
}
.pageHeader {
	background: url(../Images/Dashboard/bkg_page_reverse.jpg) repeat-x top;
}
.pageFooter {
	background-color: #80ADD6;
	background: url(../Images/tab_bg_over.jpg) repeat-x bottom;
}

.linkBar {
	position: relative;
	float:right; 
	right: 10px; 
	top: 5px; 
	width: 768px; 
	text-align: right;
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
}

.linkBar A {
	text-decoration: none;
	color: #32465E;
	padding-right: 8px;
	padding-left: 8px;
}

.linkBar A:hover {
	color: #6797C5;
}

.popupHover {	
    
    z-index: 10;
    background: url(../Images/Dashboard/MenuBg.jpg) repeat-x bottom;
    background-position:left top;
    
}

.hoverTooltip
{
    padding: 3px 8px 3px 20px;
    border: 1px solid #666666;
    z-index: 10;
    background: url(../Images/Dashboard/MenuBg.jpg) repeat-x bottom;
    
    white-space:nowrap;
}


#sidebar
{
	padding-top: 10px;
	margin-right:10px;
}

.widgetContainer
{
	background: #ffffff none no-repeat scroll 0%;
	border: 1px solid #afcff7;
	padding: 0 0px 0px 0px;
	
}

.widgetContainer h2
{
	border-bottom:1px solid #e2c822;
	font-size:12px;
	font-weight:bold;
	padding-bottom:2px;	
	padding-left:2px;
}

.widgetContainer p
{
	margin-top:5px;
	margin-bottom:5px;
}

.divider
{
	height:20px;
}

.titleContainer
{
    background-color:#e4effd;
	border-bottom:1px solid #e4effd;
	font-size:12px;
	font-weight:bold;
	padding-bottom:2px;	
	padding-left:2px;
}

.contentContainer
{
	padding: 7px;	
}