/* Reset */
img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */


.WidgetColor 
{
	
border: 1px solid #CCC;
background: white;
border-radius: 4px 4px 4px 4px;
}

.WidgetColor h3
		{
			padding ::10px 0px 0px 0px;
			overflow: hidden;
	color: #465239;
	font-weight: bold;
	text-decoration: none;
	font-size :11px;
	

	 }
/* End Colors */

/* Head section */
#head {
    background: #000 url(img/head-bg.png) repeat-x;
 
}
#head h1 {
    line-height: 100px;
    color: #FFF;
    text-align: center;
    background: url(img/inettuts.png) no-repeat center;
    text-indent: -9999em
}
/* End Head Section */

/* Columns section */
#columns .column {
    float: left;
    width: 49.2%;
		/* Min-height: */
		min-height: 400px;
		height: auto !important; 
		height: 400px;
}

/* Column dividers (background-images) : */

#columns .widget {
    margin: 0px 0px 20px 0px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#columns .widget .widget-head {
   background: #EFEFEF;
   height : 20px;
	border-bottom: 1px solid #BBB;
	font-weight: bold;
	font-size: 12px;
	padding-top: 2px;
	padding-left: 4px;

	border-left-color: #BBB;
	border-right-color: #BBB;
	border-top-color: #BBB;
	border-radius: 4px 4px 0pt 0pt;
	text-shadow: 0 1px 0 white;
}

#columns .widget .widget-content 
{
	 width : 98%;
     background-color : White ;
    padding: 4px 4px 4px  4px;
   
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}
#columns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
    margin-top : -3px;
    font-size : 12px;
}


#columns .widget .widget-content p {
    padding: 0.8em 0;
    border-bottom: 1px solid #666;
}
#columns .widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}
#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#columns .widget .widget-content ul li {padding: 3px 0;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
/* End Columns section */



/* ***************/

/* Columns section */
#Fullcolumns .column {
    float: left;
    width: 50%;
		
		
	
		
}

/* Column dividers (background-images) : */

#Fullcolumns .widget {
   margin: 0px 0px 20px 0px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#Fullcolumns .widget .widget-head {
     background: #EFEFEF;
   height : 20px;
	border-bottom: 1px solid #BBB;
	font-weight: bold;
	font-size: 12px;
	padding-top: 2px;
	padding-left: 4px;

	border-left-color: #BBB;
	border-right-color: #BBB;
	border-top-color: #BBB;
	border-radius: 4px 4px 0pt 0pt;
	text-shadow: 0 1px 0 white;
}
#Fullcolumns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
        margin-top : -3px;
        font-size: 12px;
}
#Fullcolumns .widget .widget-content {
   width : 99%;
     background-color : White ;
    padding: 4px 4px 4px 4px;
    
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}
#Fullcolumns .widget .widget-content p {
    padding: 0.8em 0;
    border-bottom: 1px solid #666;
}
#Fullcolumns .widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}
#Fullcolumns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#Fullcolumns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}
#Fullcolumns .widget .widget-content ul li {padding: 3px 0;}
#Fullcolumns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}
#Fullcolumns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#Fullcolumns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}

LeftWidget
{
	padding-right :10px;
}
RightWidget
{
	padding-left :10px;
}
/* End Columns section */

