/* JS-Enabled CSS */
.widget-head a.collapse  {
    float: right;
    display: inline;
 background:url(../Images/Dashboard/min_blue.gif) no-repeat;
 
    width: 14px;
    height: 14px;
   
    margin: 4px 2px 0 0;
     text-indent: -9999em;
    outline: none;
}
.widget-head a.remove  {
    float: right;
    display: inline;
    background:url(../Images/Dashboard/x_blue.gif) no-repeat;
    width: 14px;
    height: 14px;
    margin: 4px 2px 0 0;
    text-indent: -9999em;
    outline: none;
}





.widget-placeholder { border: 2px dashed #999;}
#column1 .widget-placeholder { margin: 30px 35px 0 25px; }
#column2 .widget-placeholder { margin: 30px 20px 0 20px; }
#column3 .widget-placeholder { margin: 30px 25px 0 35px; }

.edit-box {
    overflow: hidden;
    background: #333 url(img/widget-content-bg.png) repeat-x;
    margin-bottom: 2px;
    padding: 10px 0;
}

.edit-box li.item {
    padding: 10px 0;
    overflow: hidden;
    float: left;
    width: 100%;
    clear: both;
}


.edit-box label {
    float: left;
    width: 30%;
    color: #FFF;
    padding: 0 0 0 10px;
}

.edit-box ul.colors li {
    width: 20px;
    height: 20px;
    border: 1px solid #EEE;
    float: left;
    display: inline;
    margin: 0 5px 0 0;
    cursor: pointer;
}

