﻿<%-- 
-------------------------------------------------------------------------------------------------------------------------------------------
    FileName:Dashboard.master
    Description: This is the master page which inherited all page
    Created By:
    Created On:
    Modification Log:
    ------------------------------------------------------------------------------------------------------------------------------
    Ver.No.         Date                Author              MOdification
    ------------------------------------------------------------------------------------------------------------------------------
    0.1             Oct-14-2008         Gopala Swamy        Defect id: 8998; Commented the help link.
    0.2             Oct-21-2008         Gopala Swamy        Defect id: 8934; Made visibilty to false for timesheet anchor tag.
    0.3             Jan-27-2009         Gopala Swamy        Enhancement Id:9797 ;Changed Display property to "None" in Style property of corresponding Div.
    0.4             May-13-2009         Veda                Defect id: 10456; Copyrights in the web app has been changed to 2009.
    0.5             May-18-2009         Jagadish            Defect id: 10473; Removed div tag.
    0.6             Jul-08-2009         Veda                Defect id: 10872;"Contact Us" link has been removed.
    0.7             Jul-31-2009         Nagarathna.V.B      Defect Id;10851;; added Javascript for floating popup.
    0.8            9/March/2016         pravin khot           Modify code sknCustomerLogo

-------------------------------------------------------------------------------------------------------------------------------------------
--%>

<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Dashboard.master.cs" Inherits="TPS360.Web.UI.DashboardMaster" %>

<%@ Register assembly="Infragistics35.Web.v12.2, Version=12.2.20122.1007, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.Web.UI.LayoutControls" tagprefix="ig" %>

<%@ Register assembly="Infragistics35.WebUI.WebScheduleDataProvider.v12.2, Version=12.2.20122.1007, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.WebUI.Data" tagprefix="ig_scheduledata" %>
<%@ Register assembly="Infragistics35.WebUI.WebSchedule.v12.2, Version=12.2.20122.1007, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.WebUI.WebSchedule" tagprefix="igsch" %> 
<%@ Register Src="~/Controls/LeftPanel.ascx" TagName="LeftPanel" TagPrefix="uc1" %>
<%@ Register Src="~/Controls/ApplicationMenu.ascx" TagName="ApplicationMenu" TagPrefix="uc1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%Response.Expires = -1;%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <title>Talentrackr</title>

    <script language="javascript" type="text/javascript">
    function setFirstLoginPage()
    {
      document.body.style.overflow = 'hidden';
    }
        var currentPageGlobalMenu = '';

        function btnMewMail_Click(url) {
            var w = window.open(url, 'NewMail', 'height=700,width=770,toolbar=no,directories=no,status=no,linemenubar=no,scrollbars=0,resizable=no,modal=no');

        }
        function btnSchedule_Click() {
            var scheduleInfo = ig_getWebScheduleInfoById("ctl00_wsInfoAddToMyCalender");
            if (scheduleInfo == null) {
                scheduleInfo = ig_getWebScheduleInfoById("ctl00_ctl00_wsInfoAddToMyCalender");
            }
            var appointment = scheduleInfo.getActivities().createActivity();
            var dateTime = new Date();
            var minutes = dateTime.getMinutes();
            if (minutes < 30) {
                dateTime.setMinutes(30);
            }
            else if (minutes > 30) {
                dateTime.setHours(dateTime.getHours() + 1, 0);
            }
            appointment.setStartDateTime(dateTime);
            scheduleInfo.showAddAppointmentDialog(appointment, "");
            return false;
        }
    </script>

    <script language="javascript" type="text/javascript">
        function placeIt() {
        try{
            var y1 = 280;
            (document.getElementById) ? dom = true : dom = false;
            if (dom && !document.all) { document.getElementById("DeleteConfirmPopup").style.top = window.pageYOffset + (window.innerHeight - (window.innerHeight - y1)) + "px"; }
            if (document.all) { document.all["DeleteConfirmPopup"].style.top = document.documentElement.scrollTop + (document.documentElement.clientHeight - (document.documentElement.clientHeight - y1)) + "px"; }
            window.setTimeout("placeIt()", 10);
            }
            catch(e)
            {}
        }
    </script>

    <script language="javascript" type="text/javascript">
        function checkEnter(e) {
            var kC = window.event ? event.keyCode :
            e && e.keyCode ? e.keyCode :
            e && e.which ? e.which : null;
            if (kC) return kC == 13;
        }

        function checkEmpty(field) {
            if (!field.value) {
                alert('Please enter search term.');
                field.focus();
                return false;
            }
            return true;
        }
    </script>




    
    

    <link type="text/css" href="~/css.axd?fileSet=FileSet_CSS_Style2" rel="Stylesheet" />
    <link href="~/Style/Common.css" type="text/css" rel="stylesheet" />
    <link href="Dashboard/inettuts.js.css" type="text/css" rel="Stylesheet" />
    <link href="Style/ToolTip.css" type="text/css" rel="Stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="shortcut icon" href="Images/icon.ico">
</head>
<body onload="placeIt()">
    <form id="frmMaster" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" ScriptMode="Release">
        <Services>
            <asp:ServiceReference Path="~/DataService.asmx" />
        </Services>
        <Scripts>
            <asp:ScriptReference Path="~/Scripts/Common.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-transition.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-alert.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-modal.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-dropdown.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-scrollspy.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tab.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tooltip.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-popover.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-button.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-collapse.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-carousel.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-typeahead.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.validate.js" />
            <asp:ScriptReference Path="~/assets/js/date.js" />  
            <asp:ScriptReference Path ="~/Scripts/GirdOverflowToopTip.js" />
        </Scripts>
    </asp:ScriptManager>
<script>
        
    </script>
    <script src= "../js/AjaxScript.js" type   ="text/javascript" ></script>
    <script type="text/javascript">
        
     function CloseAndShowMessage(message,isError)
    {
    
        ShowMessage('<%= lblMessage.ClientID %>',message ,isError );
        CloseModal ();
    }
        function EditModal(src,width,height)
        {   
            var iframe=document .getElementById ('ctl00_iframe');
            iframe .src ="";
            iframe .width =width ;
            iframe .height = height ;
            iframe .src =src;
            $find('mpeModal').show();
            $('body').css({'overflow':'hidden'});
            return false ;
        }
        function CloseModal()
        { 
            var iframe=document .getElementById ('ctl00_iframe');
            
            iframe .src ="about:blank";
            $find('mpeModal').hide();
           $('body').css({'overflow':'auto'});
        }
      
        Sys.Application.add_load( function() {
            var background = $find("mpeModal")._backgroundElement;
            background.onclick = function()        
            {           
            
                var iframe=document .getElementById ('ctl00_iframe');
                if(iframe.src .indexOf ("WelcomePage")<0)
                {
                iframe .src ="about:blank";
                $find("mpeModal").hide(); 
                 $('body').css({'overflow':'auto'});
                }
            }
            }
        );
     
    </script>

    <ajaxToolkit:ModalPopupExtender ID="mpeManagers" BehaviorID="mpeModal" runat="server"
        BackgroundCssClass="DarkModalBackground" DropShadow="false" PopupControlID="pnlHiringDetails"
        TargetControlID="lblTarget" OnCancelScript="ClosePopUP()">
    </ajaxToolkit:ModalPopupExtender>
    <asp:Panel ID="pnlHiringDetails" runat="server" Style="display: none;">
        <asp:Label ID="lblTarget" runat="server"></asp:Label>
        <iframe id="iframe" runat ="server"  width="550px" height="520px" frameborder="0" style="border-radius: 12px ;"
            scrolling="no" src ="" ></iframe>
    </asp:Panel>
    <asp:Label ID ="lblMessage" runat ="server" ></asp:Label>
    <div id="WrapperOuter">
        <div id="WrapperInner">
            <div id="HeaderBar" class="navbar" style="background-color: White;">
                <div id="LogoContainer">
                    <a href="~/Dashboard/Dashboard.aspx" runat="server" id  ="A1">
                     <%--  ***************Code modify by pravin khot on 9/March/2016****************--%>
                       <%-- <asp:Image ID="imgTpsLogo" SkinID="sknTpsLogo" runat="server" EnableViewState="false"
                            style="width:300px;height:42px;" /></a>--%>
                    <asp:Image ID="imgCustomerLogo" SkinID="sknCustomerLogo" runat="server" EnableViewState="false"
                            style="width:300px;height:42px;" /></a>
                           <%-- ****************************END************************--%>
                </div>
                <uc1:ApplicationMenu runat="server" ID="ctlApplicationMenu"></uc1:ApplicationMenu>
                <div id="HeaderBarRight">
                    <div id="divHeaderBarRight" visible="false" runat="server">
                        <ul class="nav pull-right">
                            <li class="dropdown" style="height: 39px;"><a data-toggle="dropdown" class="dropdown-toggle"
                                href="#">
                                <asp:Label ID="lblUserName" runat="server"></asp:Label>
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                    <a visible="false" id="A2" runat="server" title="My Account" onclick ="EditModal('../Modals/ChangePassword.aspx','428px','275px')"  >
                                        <i class="icon-wrench"></i>Change Password</a>
                                    <a onclick="btnSchedule_Click()" title="New Appointment" runat ="server" id="anchorNewAppointment"><i class="icon-time"></i>
                                        New Appointment </a>
                                        <ig_scheduledata:WebScheduleSqlClientProvider ID="wsSqlCPAddToMyCalender" EnableAppStyling="True"
                                            runat="server" WebScheduleInfoID="wsInfoAddToMyCalender">
                                        </ig_scheduledata:WebScheduleSqlClientProvider>
                                        <igsch:WebScheduleInfo ID="wsInfoAddToMyCalender" runat="server">
                                        </igsch:WebScheduleInfo>
                                    </li>
                                    <li>
                                        <asp:HyperLink ID="lnkNewEmail" ToolTip="New Email" runat="server"><i class="icon-envelope"></i> New Email </asp:HyperLink>
                                    </li>
                                    <li><a visible="true" id="lnkEmailHistory" runat="server" title="Email History" href="Employee/AllEmailHistory.aspx">
                                        <i class="icon-folder-open"></i> Email History </a></li>
                                    <li class="divider"></li>
                                      <li><a visible="true" id="lnkDownloadParser" runat="server" title="Download Parser" href="Employee/AllEmailHistory.aspx">
                                        <i class="icon-circle-arrow-down"></i> Download Parser</a></li>
                                    <li><a visible="true" id="linkSettings" runat="server" title="My Account" href="ChangePassword.aspx">
                                        <i class="icon-wrench"></i> Account Settings </a></li>
                                    <li>
                                        <asp:LoginStatus ID="lgsLogin" ToolTip="Log Out" OnLoggedOut="lgs_LogOut" runat="server"
                                            LogoutText='<i class="icon-off"></i> Log Out' />
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Body">
                <div id="BodyMiddle" style="width: 96.9%;">
                    <div id="RightColumn2" style="margin-left: auto; margin-right: auto;">
                        <h2 class="CommonTitle">
                            <asp:ContentPlaceHolder ID="cphHomeMasterTitle" runat="server">
                            </asp:ContentPlaceHolder>
                        </h2>
                        <asp:ContentPlaceHolder ID="cphHomeMaster" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
            </div>
            <div id="Footer">
                <div id="FooterContainer">
                    <%--<div style="float: left; width: 45%; white-space: nowrap;">
                        Copyright &#169;
                        <%= DateTime.Now.Year.ToString() %>
                        Talentrackr. All rights reserved.
                    </div>
                    <div id="footerMenu" style="float: right; width: 53%; white-space: nowrap;">
                        Version: 1.6.3
                    </div>--%>
                     <div style="float: left; width: 45%; white-space: nowrap; font-size:13px">                        
                        <asp:Label ID="lblCopyRights" runat="server"></asp:Label>
                    </div>
                    <div id="footerMenu" style="float: right; width: 53%; white-space: nowrap;font-size:13px">
                        <asp:Label ID="lblVersionText" runat="server"></asp:Label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divScriptHolder" runat="server">
    </div>
    <div id="blockUI" style="display: none; background-color: black; width: 100%; height: 100px;
        position: fixed; left: 0px; top: 0px; z-index: 50000; -moz-opacity: 0.5; opacity: 0.5;
        filter: alpha(opacity=50);" onclick="return false" onmousedown="return false"
        onmousemove="return false" onmouseup="return
    false" ondblclick="return false">
        &nbsp;
    </div>
    </form>

    <script language="javascript" type="text/javascript">

        function openGlobalSearchWindow() {
            //debugger;
            var txtSearch = document.getElementById('txtSearch');
            var iheight = window.screen.height - 100;
            var iWidth = window.screen.width - 50;
            var URL = "../GlobalSearchResult.aspx?globalsearchkey=" + txtSearch.value;
            var features = "width=" + iWidth + ",height=" + iheight + ",toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes,fullscreen=no";
            window.open(URL, null, features);
        }
    </script>

</body>
</html>
<asp:sitemapdatasource runat="server" id="ApplicationSiteMap" showstartingnode="false" />
