﻿<%-- 
-------------------------------------------------------------------------------------------------------------------------------------------
    FileName:Default.master
    Description: This is the master page which inherited all page 
    Created By: 
    Created On:
    Modification Log:
    ------------------------------------------------------------------------------------------------------------------------------
    Ver.No.             Date                Author              MOdification
    ------------------------------------------------------------------------------------------------------------------------------
    0.1             Oct-14-2008          Gopala Swamy          Defect id: 8998; I commented the help link   
    0.2             Oct-21-2008          Gopala Swamy          Defect id: 8934; Made visibilty to false for timesheet anchor tag  
    0.3             Jan-27-2009          Gopala Swamy          Enhancement Id:9797 ;Changed Display property to "None" in Style property of corresponding Div 
    0.4             May-13-2009             Veda               Defect id: 10456;Copyrights in the web app has been changed to 2009
    0.5             Jul-08-2009             Veda                Defect id: 10872;"Contact Us" link has been removed.
    0.6             Mar-30-2010          Sudarshan.R           Defect id:12399; Added enablehistory to ScriptManager.
    0.7             9/March/2016         pravin khot           Modify code sknCustomerLogo

-------------------------------------------------------------------------------------------------------------------------------------------       

--%>

<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Default.master.cs" Inherits="TPS360.Web.UI.HomeMaster" %>

<%@ Register Assembly="Infragistics35.Web.v12.2, Version=12.2.20122.1007, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"
    Namespace="Infragistics.Web.UI.EditorControls" TagPrefix="ig" %>

<%@ Register assembly="Infragistics35.Web.v12.2, Version=12.2.20122.1007, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.Web.UI.LayoutControls" tagprefix="ig" %>

<%@ Register assembly="Infragistics35.WebUI.WebScheduleDataProvider.v12.2, Version=12.2.20122.1007, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.WebUI.Data" tagprefix="ig_scheduledata" %>
<%@ Register assembly="Infragistics35.WebUI.WebSchedule.v12.2, Version=12.2.20122.1007, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" namespace="Infragistics.WebUI.WebSchedule" tagprefix="igsch" %>

<%@ Register Src="~/Controls/LeftPanel.ascx" TagName="LeftPanel" TagPrefix="uc1" %>
<%@ Register Src="~/Controls/ApplicationMenu.ascx" TagName="ApplicationMenu" TagPrefix="uc1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Register Src="~/Dashboard/Controls/ScheduleAppoinment.ascx" TagName="Schedule"
    TagPrefix="ucl" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>Talentrackr</title>

    <script language="javascript" type="text/javascript">
  
        var currentPageGlobalMenu = '';
        function btnMewMail_Click(url) {
            var w = window.open(url, 'NewMail', 'height=700,width=770,toolbar=no,directories=no,status=no,linemenubar=no,scrollbars=0,resizable=no,modal=no');
            return false;
        }
        function btnSchedule_Click() {
            var scheduleInfo = ig_getWebScheduleInfoById("ctl00_wsInfoAddToMyCalender");
            if (scheduleInfo == null) {
                scheduleInfo = ig_getWebScheduleInfoById("ctl00_ctl00_wsInfoAddToMyCalender");
            }
            var appointment = scheduleInfo.getActivities().createActivity();
            var dateTime = new Date();
            var minutes = dateTime.getMinutes();
            if (minutes < 30) {
                dateTime.setMinutes(30);
            }
            else if (minutes > 30) {
                dateTime.setHours(dateTime.getHours() + 1, 0);
            }
            appointment.setStartDateTime(dateTime);
            scheduleInfo.showAddAppointmentDialog(appointment, "");
            return false;
        }
        
        
        

    </script>

    <script language="javascript" type="text/javascript">


        function openGlobalSearchWindow(id) {
            //debugger;
            var txtSearch = document.getElementById(id);
            var iheight = window.screen.height - 100;
            var iWidth = window.screen.width - 50;
            var URL = "../GlobalSearchResult.aspx?globalsearchkey=" + txtSearch.value.replace("&", "amp;");
            var features = "width=" + iWidth + ",height=" + iheight + ",toolbar=no,menubar=no,location=no,resizable=yes,scrollbars=yes,fullscreen=no";
            window.open(URL, null, features);
        }

        function checkEnter(e) {
            var kC = window.event ? event.keyCode :
            e && e.keyCode ? e.keyCode :
            e && e.which ? e.which : null;
            if (kC) return kC == 13;
        }

        function checkEmpty(id) {
            var field = document.getElementById(id);
            if (!field.value) {
                alert('Please enter search term.');
                field.focus();
                return false;
            }
            return true;

        }
        function enter_only(e) {

            var keycode;
            if (window.event) keycode = window.event.keyCode;
            else if (event) keycode = event.keyCode;

            else if (e) keycode = e.which;
            else return true;
            var press;

            if ((keycode == 13)) {
                press = document.getElementById(txtJobTitle);
                if (press != "")
                    return true;

            }

            else {
                return false;

            }
            return true;

        }
    </script>

    <script src="Scripts/fixWebkit.js" type="text/javascript"></script>
    <link type="text/css" href="~/css.axd?fileSet=FileSet_CSS_Style1" rel="Stylesheet" />
    <link href="~/Style/Common.css" type="text/css" rel="stylesheet" />
    <link href="Style/Modal.css" type="text/css" rel="Stylesheet" />
    <link href="Style/hmatrix.css" type="text/css" rel="Stylesheet" />
    <link href="Style/style.css" type="text/css" rel="Stylesheet" />
    <link href="Style/ToolTip.css" type="text/css" rel="Stylesheet" />
    <style type="text/css">
        .highlight
        {
            text-decoration: none;
            font-weight: bold;
            color: black;
            background: yellow;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="shortcut icon" href="Images/icon.ico">
</head>
<body>
    <form id="frmMaster" runat="server">
    <ajaxToolkit:ModalPopupExtender ID="mpeManagers" BehaviorID="mpeModal" runat="server"
        BackgroundCssClass="DarkModalBackground" DropShadow="false" PopupControlID="pnlHiringDetails"
        TargetControlID="lblTarget" OnCancelScript="ClosePopUP()">
    </ajaxToolkit:ModalPopupExtender>
    <asp:Panel ID="pnlHiringDetails" runat="server" Style="display: none;">
        <asp:Label ID="lblTarget" runat="server"></asp:Label>
        <iframe id="iframe" width="778px" height="570px" frameborder="0" style="border-radius: 12px"
            scrolling="no"></iframe>
    </asp:Panel>
    <asp:ScriptManager ID="ScriptManager1" runat="server" ScriptMode="Release" EnableHistory="true"
        EnablePageMethods="true">
        <Services>
            <asp:ServiceReference Path="~/DataService.asmx" />
        </Services>
        <Scripts>
            <asp:ScriptReference Path="~/Scripts/Common.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-transition.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-alert.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-modal.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-dropdown.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-scrollspy.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tab.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tooltip.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-popover.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-button.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-collapse.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-carousel.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-typeahead.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.validate.js" />
            <asp:ScriptReference Path="~/assets/js/date.js" />
            <asp:ScriptReference Path="~/assets/js/daterangepicker.js" />
            <asp:ScriptReference Path="~/Scripts/GirdOverflowToopTip.js" />
        </Scripts>
    </asp:ScriptManager>

    <script src="js/AjaxScript.js"></script>


    <script type="text/javascript">
      try{Sys.Browser.WebKit={};
if (navigator.userAgent.indexOf('WebKit/') > -1) {
    Sys.Browser.agent = Sys.Browser.WebKit;
    Sys.Browser.version = parseFloat(navigator.userAgent.match(/WebKit\/(\d+(\.\d+)?)/)[1]);
    Sys.Browser.name = 'WebKit';
}    
}
catch (e)
{

}
    function ShowStatusMessage(msg,isError)
    {
    CloseModal ();
    ShowMessage('<%= lblMessage.ClientID %>',msg ,isError );
   
    }
        function EditModal(src,width,height)
        {   

            var iframe=document .getElementById ('iframe');
            iframe .src ="";
            iframe .width =width ;
            iframe .height = height ;
            iframe .src =src;
            $find('mpeModal').show();
             $('body').css({'overflow':'hidden'});
            return false ;
        }
        function CloseModal()
        { 
            var iframe=document .getElementById ('iframe');
            
            iframe .src ="about:blank";
            $find('mpeModal').hide();
            $('body').css({'overflow':'auto'});
        }
        
        Sys.Application.add_load( function() {
            var background = $find("mpeModal")._backgroundElement;
            background.onclick = function()        
            {           
                var iframe=document .getElementById ('iframe');
                iframe .src ="about:blank";
                $find("mpeModal").hide(); 
                 $('body').css({'overflow':'auto'});
            }
            }
        );
         
Sys.WebForms.PageRequestManager.getInstance().add_beginRequest(beginReq); 
Sys.WebForms.PageRequestManager.getInstance().add_endRequest(endReq);    
function beginReq(sender,args)
{
try{
$find('ModalOverlay').show();
}
catch (e)
{
}
}
function endReq(sender, args) {
try{
    $find('ModalOverlay').hide(); 
    }
    catch (e)
    {
    }
}
function RemoveModal()
{   Sys.WebForms.PageRequestManager.getInstance().remove_beginRequest(beginReq); 
}
    </script>

    <div style="display: none">
        <ucl:Schedule ID="uclSchedule" runat="server"  />
    </div>
    <div id="WrapperOuter">
        <div id="WrapperInner">
            <%--            <div class="bg">
                <div class="header">
                </div>
            </div>--%>
            <div id="HeaderBar" class="navbar" style="background-color: White;">
                <div id="LogoContainer">
                    <a id="A1" href="~/Dashboard/Dashboard.aspx" runat="server">
                    <%--  ***************Code modify by pravin khot on 9/March/2016****************--%>
                       <%-- <asp:Image ID="imgTpsLogo" SkinID="sknTpsLogo" runat="server" EnableViewState="false"
                            style="width:300px;height:42px;" /></a>--%>
                    <asp:Image ID="imgCustomerLogo" SkinID="sknCustomerLogo" runat="server" EnableViewState="false"
                            style="width:300px;height:42px;" /></a>
                           <%-- ****************************END************************--%>
                </div>
                <div style="float: left">
                    <uc1:ApplicationMenu runat="server" ID="ctlApplicationMenu"></uc1:ApplicationMenu>
                </div>
                <div id="HeaderBarRight">
                    <div id="divHeaderBarRight" visible="false" runat="server">
                        <ul class="nav pull-right">
                            <li class="dropdown" style="height: 39px;"><a data-toggle="dropdown" class="dropdown-toggle"
                                href="#">
                                <asp:Label ID="lblUserName" runat="server"></asp:Label>
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                
                                    <li><a visible="false" id="A2" runat="server" title="My Account" onclick ="EditModal('../Modals/ChangePassword.aspx','428px','275px')"  >
                                        <i class="icon-wrench"></i>Change Password</a>
                                    <a onclick="btnSchedule_Click()" title="New Appointment"  runat ="server" id="anchorNewAppointment"><i class="icon-time"></i>
                                        New Appointment </a>
                                        <ig_scheduledata:WebScheduleSqlClientProvider ID="wsSqlCPAddToMyCalender" EnableAppStyling="True"
                                            runat="server" WebScheduleInfoID="wsInfoAddToMyCalender">
                                        </ig_scheduledata:WebScheduleSqlClientProvider>
                                        <igsch:WebScheduleInfo ID="wsInfoAddToMyCalender" runat="server">
                                       </igsch:WebScheduleInfo>
                                    </li>
                                    <li>
                                        <asp:HyperLink ID="lnkNewEmail" ToolTip="New Email" runat="server"><i class="icon-envelope"></i> New Email </asp:HyperLink>
                                    </li>
                                    <li><a visible="true" id="lnkEmailHistory" runat="server" title="Email History" href="Employee/AllEmailHistory.aspx">
                                        <i class="icon-folder-open"></i> Email History </a></li>
                                    <li class="divider"></li>
                                    <li><a visible="true" id="lnkDownloadParser" runat="server" title="Download Parser"
                                        href="Employee/AllEmailHistory.aspx"><i class="icon-circle-arrow-down"></i> Download
                                        Parser</a></li>
                                    <li><a visible="true" id="linkSettings" runat="server" title="My Account" href="ChangePassword.aspx">
                                        <i class="icon-wrench"></i> Account Settings </a></li>
                                        
                                       <%-- <!--gpk0123456789 -->
                                        <li><a visible="true" id="A3" runat="server" title="IFB" href="~/Interview/InterviewerFeedback.aspx">
                                        <i class="icon-wrench"></i> IFB </a></li>--%>
                                        
                                        
                                    <li>
                                        <asp:LoginStatus ID="lgsLogin" ToolTip="Log Out" OnLoggedOut="lgs_LogOut" runat="server"
                                            LogoutText='<i class="icon-off"></i> Log Out' />
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="Body">
                <div id="BodyMiddle" style="width: 96.9%;">
                    <div class="section">
                        <div class="section-header">
                            <h3>
                                <asp:ContentPlaceHolder ID="cphHomeMasterTitle" runat="server">
                                </asp:ContentPlaceHolder>
                            </h3>
                        </div>
                        <div class="section-body">
                            <asp:Label ID="lblMessage" runat="server"></asp:Label>
                            <asp:ContentPlaceHolder ID="cphHomeMaster" runat="server">
                            </asp:ContentPlaceHolder>
                            <asp:Panel ID="pnlmodal" runat="server" Style="display: none">
                                <asp:UpdatePanel runat="server" ID="UpdatePanel2" RenderMode="Inline" UpdateMode="Conditional">
                                    <ContentTemplate>
                                        <img src="../Images/AjaxLoading.gif" />
                                    </ContentTemplate>
                                </asp:UpdatePanel>
                            </asp:Panel>
                            <ajaxToolkit:ModalPopupExtender ID="Modal" runat="server" TargetControlID="pnlmodal"
                                PopupControlID="pnlmodal" BackgroundCssClass="divModalBackground" BehaviorID="ModalOverlay">
                            </ajaxToolkit:ModalPopupExtender>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Footer">
                <div id="FooterContainer">
                    <%--<div style="float: left; width: 45%; white-space: nowrap;">
                        Copyright &#169;
                        <%= DateTime.Now.Year.ToString() %>
                        Talentrackr. All rights reserved.
                    </div>
                    <div id="footerMenu" style="float: right; width: 53%; white-space: nowrap;">
                        Version: 1.6.3
                    </div>--%>
                      <div style="float: left; width: 45%; white-space: nowrap;font-size:13px;">                        
                        <asp:Label ID="lblCopyRights" runat="server"></asp:Label>
                    </div>
                    <div id="footerMenu" style="float: right; width: 53%; white-space: nowrap;font-size:13px;">
                        <asp:Label ID="lblVersionText" runat="server"></asp:Label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divScriptHolder" runat="server">
    </div>
    </form>
    <asp:SiteMapDataSource runat="server" ID="ApplicationSiteMap" ShowStartingNode="false" />
</body>
</html>
