﻿<%-- 
-------------------------------------------------------------------------------------------------------------------------------------------
    FileName:PortalPublic.master
    Description: This is the master page which inherited all page 
    Created By: 
    Created On:
    Modification Log:
    ------------------------------------------------------------------------------------------------------------------------------
    Ver.No.             Date                Author              MOdification
    ------------------------------------------------------------------------------------------------------------------------------
    0.1             8/March/2016          pravin khot            replace customer logo   
-------------------------------------------------------------------------------------------------------------------------------------------       

--%>

<%@ Master Language="C#" AutoEventWireup="true" CodeFile="PortalPublic.master.cs" Inherits="TPS360.Web.UI.PortalPublic" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Talentrackr</title>

    <link type="text/css" href ="../css.axd?fileSet=FileSet_CSS_Style1" rel="Stylesheet" />
    <link href="../Style/Common.css" type = "text/css" rel="stylesheet" />
    <link href="../Style/style.css" type="text/css" rel="Stylesheet" />
   <link href ="../Style/TabStyle.css"  type="text/css" rel="Stylesheet" />
     <link rel="shortcut icon" href="../Images/icon.ico">
</head>
<body>
    <form id="frmMaster" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" ScriptMode="Release" EnableHistory="true"
        EnablePageMethods="true">
        <services>
            <asp:ServiceReference Path="~/DataService.asmx" />
        </services>
        <scripts>
            <asp:ScriptReference Path="~/Scripts/Common.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-transition.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-alert.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-modal.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-dropdown.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-scrollspy.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tab.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-tooltip.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-popover.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-button.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-collapse.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-carousel.js" />
            <asp:ScriptReference Path="~/assets/js/bootstrap-typeahead.js" />
            <asp:ScriptReference Path="~/assets/js/jquery.validate.js" />
        </scripts>
    </asp:ScriptManager>
   
       <div id="WrapperOuter">
        <div id="WrapperInner">
         
            <div id="HeaderBar" class="navbar" style="background-color: White;">
                <div id="LogoContainer">
                    <a id="A1" href="~/CandidatePortal/Login.aspx" runat="server">
                   <%--  ***********Code commented by pravin khot replace customer logo on 8/March/2016*********--%>
                     <%--  <asp:Image ID="imgTpsLogo" SkinID="sknTpsLogo" runat="server" EnableViewState="false"
                            Height="42px" /></a>--%>
                       <%--     *******************END*********************************--%>
                   <%--  ***********Code Added by pravin khot replace customer logo on 8/March/2016 [ref-E:TPS360.WEBUI\App_Themes\Default\Default.skin]SkinID="sknCustomerLogo"*********--%>
                      <asp:Image ID="ImgCustomerLogo" SkinID="sknCustomerLogo"  style="width:300px;height:42px;" EnableViewState="false" runat="server" />
<%--                      *************************END******************************************--%> 
                    </a>
                            
                </div>
                <div style="float: left">
                       
	            <div class="nav-collapse">
		            <ul class="nav">
                        <li class="dropdown" runat="server" id="liId" rel="home">
                       </li>
                    </ul> 
                </div> 
                </div>

            </div>
            <div id="Body">
                <div id="BodyMiddle" style="width: 96.9%; margin-left : 15px; min-height : 400px;"  >
                         <asp:ContentPlaceHolder ID="cphHomeMaster" runat="server">
                         </asp:ContentPlaceHolder>
     
            </div>
            <div id="Footer">
                <div id="FooterContainer">
                    <div style="float: left; width: 45%; white-space: nowrap;">
                        Copyright &#169;
                        <%= DateTime.Now.Year.ToString() %>
                        Talentrackr. All rights reserved.
                    </div>
                    <div id="footerMenu" style="float: right; width: 53%; white-space: nowrap;">
                        Version: 1.6.3
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="divScriptHolder" runat="server">
    </div>
    </form>
    <asp:SiteMapDataSource runat="server" ID="ApplicationSiteMap" ShowStartingNode="false" />
    
</body>
</html>