html{}
body{font-family: Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;font-size: 11px;color: #333333;background: #773D92 url(Images/BodyBg.jpg) top repeat-x;margin: 0px;}
#WrapperOuter{clear: both;width: 100%;margin-left: auto;margin-right: auto;background:url(Images/WrapperBgOuter.jpg) left repeat-y;	min-width: 970px;}
#WrapperInner{clear: both;width: 100%;margin-left: auto;margin-right: auto;background:url(Images/WrapperBgInner.jpg) right repeat-y;}
#Top{clear: both;height: 14px;width: 100%;font-size: 8px;background:url(Images/TopBg.jpg) repeat-x;margin-left: auto;margin-right: auto;}
#TopLeft{position: relative;height: 14px;width: 27px;background: url(Images/TopLeft.jpg) no-repeat;float: left;}
#TopRight{position: relative;height: 14px;width: 27px;background: url(Images/TopRight.jpg) no-repeat;float: right;}
#TopBar{clear: both;height: 25px;width: 100%;background:url(Images/TopBarBg.jpg) repeat-x;margin-left: auto;margin-right: auto;}
#TopBarLeft{position: relative;height: 25px;width: 27px;background: url(Images/TopBarLeft.jpg) no-repeat;float: left;}
#TopBarRight{position: relative;height: 25px;width: 27px;background: url(Images/TopBarRight.jpg) no-repeat;float: right;}
#TopBarMiddle{position: relative;height: 25px;width: 94%;float: left;}
#Header{clear: both;height: 88px;width: 100%;background:url(Images/HeaderBg.jpg) repeat-x;margin-left: auto;margin-right: auto;}
#HeaderLeft{position: relative;height: 88px;width: 15px;background: url(Images/HeaderLeft.jpg) no-repeat;float: left;}
#HeaderMiddle{position: relative;height: 88px;width: 94%;float: left;}
#HeaderRight{position: relative;height: 88px;width: 15px;background: url(Images/HeaderRight.jpg) no-repeat;float: right;}
#HeaderContentLeft{width: 50%;position: relative;float: left;}
#HeaderContentRight{width: 46%;position: relative;float: right;}
#OrganizationLogo{padding: 7px 0px 0px 10px;}
#LoggedinUserLogo{float: right;padding: 7px 0px 0px 0px;}
#TopMenuBar{clear: both;height: 36px;width: 100%;background:url(Images/TopMenuBg.jpg) repeat-x;margin-left: auto;margin-right: auto;}
#TopMenuBarLeft{position: relative;height: 36px;width: 15px;background: url(Images/TopMenuLeft.jpg) no-repeat;float: left;}
#TopMenuBarRight{position: relative;height: 36px;width: 15px;background: url(Images/TopMenuRight.jpg) no-repeat;float: right;}
.TopMenu{width: 95%;height: 31px;position: relative;float: right;margin-left: auto;margin-top: 2px;text-align: right;padding: 0px 20px 0px 0px;}
.TopMenu UL{padding: 0px 20px 0px 0px;display: inline;list-style-type: none;}
.TopMenu LI{padding: 0px 0px 0px 0px;display: inline;margin: 0px;list-style-type: none;height: 31px;}
.TopMenu A{position: relative;padding: 7px 8px 6px 8px;white-space: nowrap;background: url(Images/MenuButtonBg.jpg) repeat-x;float: right;}
.TopMenu A:link{text-decoration: none;color: #FFFFFF;font-size: 12px;background: url(Images/MenuButtonBg.jpg) repeat-x;}
.TopMenu A:visited{text-decoration: none;color: #FFFFFF;font-size: 12px;background: url(Images/MenuButtonVisitedBg.jpg) repeat-x;}
.TopMenu A:active{text-decoration: none;color: #FFFFFF;font-size: 12px;background: url(Images/MenuButtonBg.jpg) repeat-x;}
.TopMenu A:hover{text-decoration: none;background: url(Images/MenuButtonHoverBg.jpg) repeat-x;}
.MenuDeviderLeft{position:relative;float:right;padding-left: 3px;}
.MenuDeviderRight{position:relative; float:right;padding-right: 3px;}
#BodyOuter{clear: both;min-height: 450px;width: 100%;margin-left: auto;margin-right: auto;background-color: #ffffff;background:url(../Images/WrapperBgOuter.jpg) left repeat-y;}
#BodyInner{clear: both;min-height: 450px;width: 100%;margin-left: auto;margin-right: auto;background-color: #ffffff;background:url(../Images/WrapperBgInner.jpg) right repeat-y;}
#Body{clear: both;min-height: 450px;width: 100%;min-width: 970px;margin-left: auto;margin-right: auto;background-color: #ffffff;background: url(Images/TopMenuBottomBg.jpg) repeat-x;}
#BodyLeft{position: relative;height: 420px;width: 15px;background: url(Images/BodyLeft.jpg) no-repeat;float: left;}
#BodyRight{position: relative;height: 420px;width: 15px;background: url(Images/BodyRight.jpg) no-repeat;float: right;}
#BodyLeftPopup{position: relative;height: 545px;width: 15px;background: url(Images/BodyLeftPopup.jpg) no-repeat;float: left;}
#BodyRightPopup{position: relative;height: 545px;width: 15px;background: url(Images/BodyRightPopup.jpg) no-repeat;float: right;}
#BodyMiddle{width: 96%;position: relative;float: left;}
#LeftColumn{width: 17%;position: relative;float: left;padding-top: 10px;}
#LeftBarTop{height: 10px;}
#LeftMenuContainer{padding-left: 7px;padding-top: 10px;}
#RightColumn{width: 81%;padding: 15px 0px 10px 10px;position: relative;float: left;}
#Footer{clear: both;height: 107px;width: 100%;background:url(Images/FooterBg.jpg) repeat-x;margin-left: auto;margin-right: auto;}
#FooterLeft{position: relative;height: 107px;width: 27px;background: url(Images/FooterLeft.jpg) no-repeat;float: left;}
#FooterRight{position: relative;height: 107px;width: 27px;background: url(Images/FooterRight.jpg) no-repeat;float: right;}
.filter{float: right;font-weight: bold;padding: 4px 2px 7px 0px;}
.filter INPUT{width:150px;}
.ListBoxTitle{padding: 4px 0px 0px 3px;position: relative;float: left;height: 20px;vertical-align: bottom;font-size: 16px;font-weight: bold;}
#FooterMiddle{position: relative;width: 92%;float: right;}
#FooterTopPart{clear: both;margin-left: auto;margin-right: auto;height: 65px;}
#FooterBottomPart{clear: both;margin-left: auto;margin-right: auto;width: 100%;}
.FooterBottomPartLeft{width: 30%;float: left;}
.FooterBottomPartRight{float: right;width: 65%;}
.CSS{position: relative;float: right;padding-left: 5px;}
.XHTML{position: relative;float: right;}
.Calender{cursor: pointer;}
.DisplayNone{display:none;}
.DisplayBlock{display:block;}
.RequiredField{font-family: Tahoma;font-size: 10pt;color: #FF0000;}
#LanguageDiv{position:absolute; top:0; left: 100%; margin-left: -320px; height: 300px; width: 300px; display:none; background-color: White; border: solid 1px dimgray; padding: 10px; z-index: 60000}
.Tree{overflow: auto;border-top-style: none;border-right-style: none;border-left-style: none;border-bottom-style: none}
.Tree IMG{padding-right: 1px;padding-right: 0px;padding-right: 0px;padding-top: 0px}
.Tree .Node{border-right: #ffffff 1px solid;border-right: 1px;border-top: #ffffff 1px solid;border-left: 1px;font-size: 10pt;padding-bottom: 1px;border-left: #ffffff 1px solid;COLOR: #444444;padding-top: 1px;border-bottom: #ffffff 1px solid}
.Tree TD.SelectedNode{border-left-color: #99defd;border-bottom-color: #99defd;border-top-color: #99defd;background-color: #f6fbfd;border-right-color: #99defd}
.CommonHeader{background-color: #dcdde0;height: 20px;padding-top: 5px;text-align: left;font-weight: bold;padding-left: 7px;}
.CommonGroupName{background: #8f4b8b url(Images/TitleBg.jpg) repeat-y right;height: 25px;padding-top: 5px;text-align: left;font-weight: bold;font-size: 15px;padding-left: 7px;color: #ffffff;}
.TPS360MasterTitle{clear: both;font-size: 16px;font-weight: bold;}
.Nowrap{white-space:nowrap;}
.CollopsiblePanelHeader{height: 20px;background-color: #e7e7e7;width: 99%;clear: both;padding: 5px 0px 2px 4px;border-top: 1px solid #e7e7e7;border-left: 1px solid #e7e7e7;border-bottom: 1px solid #999999;border-right: 1px solid #999999;}
.ArrowContainer{width: 15px;float: left;}
.TitleContainer{width: 95%;float: left;text-align: left;font-weight: bold;padding-left: 3px;}
.PanelDevider{clear: both;height: 7px;}
.CollopsiblePanelBody{background-color: #f9f9f9;border: solid 1px #e7e7e7;border-top: none;}
.CommonLinkNav{font-size:100%;color: #006633;text-decoration: none;}
.CommonLinkNav:hover{font-size:100%;color: #006633;text-decoration: underline;}
.CommonLink{font-size:100%;color: #006633;text-decoration: none;}
.CommonLink:hover{font-size:100%;color: #006633;text-decoration: underline;}
.modalProgressGreyBackground{background:#803c9f;filter:alpha(opacity=40);opacity:0.6;}
.CommonHeaderForDashboard{background: #8f4b8b url(Images/TitleBg.jpg) repeat-y left;height: 23px;padding-top: 2px;text-align: left;font-weight: bold;font-size: 15px;padding-left: 7px;color: #ffffff;}
#TopBarContentLeft{width: 50%;position: relative;float: left;}
#TopBarContentRight{width: 40%;position: relative;float: right;font-weight: bold;padding-top: 3px;text-align: right;font-size: 12px;}
#ColorPickerContainer{padding: 6px 0px 0px 20px;width: 100%;}
.PickerHolder{padding: 0px 2px 0px 2px;position: relative;float: left;}
.CommonButton{display: inline-table;display: -moz-inline-box;display: inline-block;margin: 1px;padding: 2px 10px 2px 10px;border-style: solid;border-width: 1px;border-color: #999999;border-top-color: #CCCCCC;border-left-color: #CCCCCC;background-color: #EEEEEE;color: #333333;font-family: Tahoma, Arial, Helvetica, sans-serif;font-size: 100%;font-weight: bold;white-space: nowrap;text-decoration: none;cursor: pointer;}
.CommonButton:hover{background-color: #DDDDDD;}
.CommonButton:LINK{text-decoration: none;color: #333333;background-color: #EEEEEE;}
.CommonButton:VISITED{text-decoration: none;color: #333333;background-color: #EEEEEE;}
.CommonImageBox{border: 1px solid #CCCCCC;padding: 3px;}
.CommonTextBox{font-size: 11px;border: 1px solid gray;color:#333333;padding:2px 2px 2px 2px;background-color:#FFFFFF;width:150px;}
.WaterMarkedTextBox{background: #ffffff url(Images/search.gif) no-repeat scroll 3px 4px;border:1px solid gray;width: 200px;font-size:11px;padding:3px 3px 3px 17px;color: #b7b7b7;}
.SearchTextbox{background: #ffffff url(Images/search.gif) no-repeat scroll 3px 4px;border:1px solid gray;width: 200px;font-size:11px;padding:3px 3px 3px 17px;}
.CommonDropDownList{font-size: 11px;border: 1px solid #546180;color:#333333;padding-left:2px;background-color:#FFFFFF;}
.CommonMessage{font-weight: bold;text-align: left;width: 30%;white-space: nowrap;}
.FieldSet{border: 1px solid #7B88A3;padding: 10px;width: 70%;margin-left: auto;margin-right: auto;}
.FieldSetLegend{font-weight: bold;color: #000000;}
.CommonValidatorContent{text-align: left;vertical-align: top;float: left;margin-left: 158px;}
.NormalLink{font-weight: bold;color: #666666;font-size: 11px;text-decoration: none;}
.NormalLink:hover{font-weight: bold;color: #000000;font-size: 11px;text-decoration: underline;}
.TableForm{text-align:center;}
.TableRow{clear:both;}
.TableHeading{font-weight: bold;text-align: left;white-space: nowrap;}
.TableFormLeble{font-size: 11px;color: #444444;text-align:right;font-weight: bold;white-space: nowrap;vertical-align: middle;width: 42%;height: 20px;padding: 5px 5px 2px 3px;float:left;}
.ValidatorLeft{width: 40%;height: 1px;}
.TableFormContent{text-align: left;vertical-align: top;padding: 5px 0px 2px 5px;}
.TableFormValidatorContent{text-align: left;vertical-align: top;padding: 0px 0px 0px 10px;}
.TableSubmit{clear: both;text-align:center}
.RolesListBox{width:150px;height:250px;border: solid 1px #000000;}
.PopUpCalendar{background-color: Red;color: Blue;}
.FormLeftColumn{width: 49%;float: left;}
.FormRightColumn{width: 49%;float: right;}
.CommonTitle{color: #91723f;font-size: 110%;font-weight: bold;padding: 0px 0px 15px 8px;margin: 0px;}
.CommonSubTitle{color: #91723f;font-size: 135%;font-weight: bold;padding: 8px 0px 0px 0px;margin: 0px;}
.CommonFileField{font-size: 11px;border: 1px solid gray;color:#333333;padding: 2px 2px 2px 2px;background-color:#FFFFFF;width: 250px;}
.GridContainer{clear: both;margin-left: auto;margin-right: auto;}
.Grid{font-family: tahoma;font-size: 11px;border: solid 1px #7f7f7f;border-collapse:collapse;width:100%;color: #333333;}
.Grid th{background: url(Images/Sprite.png) repeat-x 0px 0px;border-color: #989898 #cbcbcb #989898 #989898;border-style: solid solid solid none;border-width: 1px 1px 1px medium;color: #000;padding: 4px 5px 4px 10px;vertical-align: bottom;text-align:left;white-space:nowrap;}
.Grid th a{color:#333333;font-weight: bold;text-decoration: none;display: block;padding-right: 10px;}
.Grid th.sortasc, .Grid th.sortdesc{background: url(Images/sprite.png) repeat-x 0px -100px;}
.Grid th.sortasc a{background: url(Images/dt-arrow-up.png) no-repeat right 50%;}
.Grid th.sortdesc a{background: url(Images/dt-arrow-dn.png) no-repeat right 50%;}  
.Grid td{color:#333333;padding: 4px 10px 4px 10px;border-bottom: solid 1px #BBD9EE;}
.Grid .altrow{background-color: #EBF4FA;}
.Grid .altrow:hover{background-color:#fffacd;color:#000;}
.Grid .row{background-color: #fff;}
.Grid .row:hover{background-color:#fffacd;color:#000;}
.Grid .rownum{text-align:center;padding-left:0px;font-weight:bold;color:#333333;}
.Updating{color:#808080;background:url(Images/activity.gif) no-repeat center;}
.Hidden{display:none;visibility:hidden;}
.group TD{padding:10px 0px 2px 0px;color:#666666;text-align:left;border-bottom:solid 1px #a5a4bd;}
.group TD.first{text-align:center;border-bottom:none;}              
.item TD{padding:3px 0px 3px 6px;border-bottom:solid 1px #eae9e1;color:#222222;}
.DatalistAltRow{background-color: #EBF4FA;text-align: left;}
.DatalistAltRow:hover{background-color:#fffacd;color:#000;text-align: left;}
.DatalistRow{background-color: #fbfcfd;text-align: left;}
.DatalistRow:hover{background-color:#fffacd;color:#000;text-align: left;}
.GroupingListview{border:solid 1px #a5a4bd;padding-bottom:10px;}
.GroupingListview TABLE{width:100%;}
.GroupingListview .head TH{background:#e9e9eb url(Images/Sprite.png);height:24px;line-height:24px;color:#666666;text-align:left;}
GroupingListview .head TH.first{background:#e9e9eb url(Images/Sprite.png) -3px;width:20px;}
.GroupingListview .group{}
.GroupingListview .group .CommonListingHeader{color: #999999;font-size: 110%;margin: 0px;padding: 0px;margin-bottom: 4px;}
.GroupingListview .group TH{padding:10px 0px 2px 0px;color:#666666;text-align:left;border-bottom:solid 1px #a5a4bd;}
.GroupingListview .group TH.first{text-align:center;width:20px;}
.GroupingListview .item TD{padding:3px 0px 3px 6px;border-bottom:solid 1px #eae9e1;color:#222222;text-align:left;} 
.hidden{display:none;visibility:hidden;}
.GroupingListview .altrow{background-color: #EBF4FA;}
.GroupingListview .row{background-color: #fff;}
.OrganogramGrid{font-family: tahoma;font-size: 11px;border: solid 1px #7f7f7f;border-collapse:collapse;	width:97%;color: #333333;margin-left:auto;margin-right:auto;}
.OrganogramGrid th{background: url(Images/Sprite.png) repeat-x 0px 0px;border-color: #989898 #cbcbcb #989898 #989898;border-style: solid solid solid none;border-width: 1px 1px 1px medium;color: #000;padding: 4px 5px 4px 10px;vertical-align: bottom;text-align:left;white-space:nowrap;}
.OrganogramGridHeader td{background: url(Images/Sprite.png) repeat-x 0px 0px;border-color: #989898 #cbcbcb #989898 #989898;border-style: solid solid solid none;border-width: 1px 1px 1px medium;color: #000;padding: 4px 5px 4px 10px;vertical-align: bottom;text-align: center;white-space: nowrap;font-weight: bold;}
.OrganogramGrid th a{color:#333333;font-weight: bold;text-decoration: none;display: block;padding-right: 10px;}
.OrganogramGrid th.sortasc, .OrganogramGrid th.sortdesc{background: url(Images/sprite.png) repeat-x 0px -100px;}
.OrganogramGrid th.sortasc a{background: url(Images/dt-arrow-up.png) no-repeat right 50%;}
.OrganogramGrid th.sortdesc a{background: url(Images/dt-arrow-dn.png) no-repeat right 50%;}
.GridRow td{color:#333333;padding: 4px 10px 4px 10px;border-bottom: solid 1px #BBD9EE;text-align: center;height: 30px;border-color: #989898 #cbcbcb #989898 #989898;border-style: solid solid solid none;border-width: 1px 1px 1px medium;}
.OrganogramGrid .Blank{background-color: #eeeeee;color: #222222;}
.OrganogramGrid .altrow{background-color: #EBF4FA;}
.OrganogramGrid .altrow:hover{background-color:#fffacd;color:#000;}
.OrganogramGrid .row{background-color: #fff;}
.OrganogramGrid .row:hover{background-color:#fffacd;color:#000;}
.OrganogramGrid .rownum{text-align:center;padding-left:0px;font-weight:bold;color:#333333;}
.accordion{cursor: default;background-position: top right;background-repeat: repeat-y;}
.accordion .header{background-color: #cbcdd2;color:Black;font-size: 110%;font-weight: bold;border: 1px solid #ffffff;border-right-color:#8C8C8C;border-bottom-color:#8C8C8C;border-left-color:#8C8C8C;padding: 6px 0px 5px 6px;cursor:pointer;}
.accordion .header DIV{}
.accordion .header SPAN{}
.accordion .header:hover{background-color:#e2e2e8;font-weight: bold;border: 1px solid #ffffff;border-right-color:#8C8C8C;border-bottom-color:#8C8C8C;padding: 6px 0px 5px 6px;cursor:pointer;}
.accordion .header A{color: #e8e9e7;cursor: pointer;text-decoration: none;}
.accordion .header A:hover{color: #ffffff;cursor: pointer;text-decoration: none;}         
.accordion UL{padding:0px;margin:0px;list-style-type:none;}
.accordion LI{font-size: 11px;border: 1px solid #ffffff;border-right-color: #cccccc;border-bottom-color: #cccccc;padding: 4px 4px 4px 10px;cursor: pointer;background-color: #eeeeee;}
.accordion LI DIV{}
.accordion LI:hover{background-color:#dddddd;border: 1px solid #eeeeee;border-right-color: #CCCCCC;border-bottom-color: #CCCCCC;padding: 4px 4px 4px 10px;cursor: pointer;}
.accordion LI A{text-decoration: none;color: #000000;display: block;}
.accordion LI A:hover{text-decoration: none;color: #666666;display: block;}
.Pager{height:30px;background:url(Images/pager_bg.gif) repeat-x;}
.Pager .Container{padding:4px;}
.Pager .Command{float:left;padding-right:5px;}
.Pager .Info{font-size:12px;padding:4px 0px;float:right;}
.SliderHandle{cursor: pointer;}
#SpecializedContainer{margin: 0pt auto;width: 100%;padding:0pt 0px;position:relative;text-align:left;}
#SpecializedMenu{color:#000000;padding:5px 0px 5px;width: 100%;text-align: center;}
#IconHolder{width: 100%;}
#IconHolder tr{}
#IconHolder tr td{width: 52px;vertical-align: top;padding: 4px 1px 2px 1px;}
#IconHolder tr td:hover{width: 52px;vertical-align: top;padding: 4px 1px 2px 1px;background-color: #f6f6f6;cursor: pointer;}
#IconHolder tr td div{width: 48px;vertical-align: top;padding: 2px;}
#IconHolder tr td div:hover{width: 48px;vertical-align: top;background-color: #b7b7b7;cursor: pointer;}
#IconHolder tr td a{color:#333333;font-weight:bold;text-decoration : none;text-align: center;}
#IconHolder tr td a:focus, #SpecializedMenu tr td a:hover{outline-color:invert;outline-style:none;outline-width:medium;cursor: pointer;}
.TinyLink{font-size: 9px;}
#DependentMenu{}
#DependentMenu td{white-space: nowrap;font-size: 15px;font-weight: bold;}
#DependentMenu a{font-size: 15px;font-weight: bold;color: #999999;text-decoration: none;white-space: nowrap;}
#DependentMenu a:hover{font-size: 15px;font-weight: bold;color: #333333;text-decoration: underline;white-space: nowrap;}
.SpecialMenuHolder{width: 90%;height: 46px;position: relative;float: right;margin-left: auto;margin-top: 15px;text-align: right;padding: 0px 20px 0px 0px;}
.SpecialMenuHolder ul{padding: 0px 20px 0px 0px;display: inline;list-style-type: none;}
.SpecialMenuHolder li{padding: 0px 0px 0px 0px;display: inline;margin: 0px;list-style-type: none;height: 46px;}
.SpecialMenuHolder a{position: relative;padding: 15px 12px 6px 12px;white-space: nowrap;float: left;}
.SpecialMenuDevider{position:relative;float:left;padding-right: 3px;}
.SpecialMenuActive{font-family: Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;font-size: 11px;color: #333333;background: url(Images/SpecialMenu/ActiveBg.jpg) repeat-x;margin: 0px;height: 46px;}
.SpecialMenuComplete{font-family: Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;font-size: 11px;color: #333333;background: url(Images/SpecialMenu/CompleteBg.jpg) repeat-x;margin: 0px;height: 46px;}
.SpecialMenuInComplete{font-family: Trebuchet MS, Tahoma, Arial, Helvetica, sans-serif;font-size: 11px;color: #333333;background: url(Images/SpecialMenu/InCompleteBg.jpg) repeat-x;margin: 0px;height: 46px;}
.LableType{border: 1px solid #ffffff;}
.LableType:hover{border: 1px solid #b7b7b7;}
.igtab_Control{border:solid 1px Silver;}
.igtab_Control_Outer{background-color:White;border-right-width:0px;}
.igtab_DefaultTab_Top{font-size:9pt;font-family: Tahoma;border:solid 1px Silver;padding:2px 10px 2px 10px;text-align:center;}
.igtab_DefaultTab_Top_Rounded{background-color:Transparent !important;font-size:10pt;font-family: Tahoma;border:solid 0px Silver;border-bottom-width:1px;padding:2px 15px 1px 15px;height: 100%;cursor:pointer;text-align:center;}
.igtab_DefaultTab_Top_Edge{background-position:right top ;font-size:2px;padding:0px;}
.igtab_Button{}
.igtab_DefaultTab_Bottom{background-color:Transparent;font-size:9pt;font-family: Tahoma;border:solid 1px Silver;padding:2px;}
.igtab_DefaultTab_Bottom_Rounded{background-color:Transparent !important;background-repeat:no-repeat;background-position:left bottom ;font-size:9pt;font-family: Tahoma;border:solid 1px #C3C3C3;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;padding:3px 5px 7px 10px;height: 100%;cursor:pointer;}
.igtab_DefaultTab_Bottom_Edge{background-position:right bottom;font-size:2px;padding:0px;}
.igtab_DefaultTab_Left{background-color:Transparent;font-size:9pt;font-family: Tahoma;border:solid 1px LightGrey;border-right-color:Silver;padding:8px 2px 8px 2px;}
.igtab_DefaultTab_Left_Rounded{background-color:Transparent !important;background-repeat:no-repeat;background-position:left top;font-size:9pt;font-family: Tahoma;border:solid 1px #C3C3C3;border-top-width:0px;border-bottom-width:0px;border-left-width:0px;margin-top:0px;margin-bottom:0px;padding:11px 10px 3px 10px;cursor:pointer;text-align:left;}
.igtab_DefaultTab_Left_Edge{background-position:left bottom;font-size:2px;padding-top:3px;padding-bottom:3px;}
.igtab_DefaultTab_Right{background-color:Transparent;font-size:9pt;font-family: Tahoma;border:solid 1px Silver;padding:8px 2px 8px 2px;}
.igtab_DefaultTab_Right_Rounded{background-color:Transparent !important;background-repeat:no-repeat;background-position:right top;background-image: url(./images/ig_tab_rightnormal.gif);font-size:9pt;font-family: Tahoma;border:solid 1px #C3C3C3;border-top-width:0px;border-right-width:0px;border-bottom-width:0px;padding:10px 8px 12px 10px;cursor:pointer;text-align:right;}
.igtab_DefaultTab_Right_Edge{background-position:right bottom ;font-size:2px;padding:0px 0px 0px 10px;width: 10px;}
.igtab_ButtonHover{}
.igtab_ButtonPressed{}
.igtab_ButtonDisabled{}
.igtab_HoverTab_Top{background-color:Gainsboro;border-color:Silver;}
.igtab_Separator_Top{border-bottom:solid 1px Silver;border-top-width:0px;border-right-width:0px;border-left-width:0px;}
.igtab_HoverTab_Top_Rounded{background-image: url(images/tab_top_hover.gif);border-bottom-width:1px;border-bottom-style:solid;}
.igtab_HoverTab_Bottom{background-color:#E1E1E1;background-position:bottom ;}
.igtab_Separator_Bottom{border-top:solid 1px Silver;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;}
.igtab_HoverTab_Bottom_Rounded{background-image: url(images/tab_bottom.gif);}
.igtab_HoverTab_Left{background-color:Gainsboro;border-color:Silver;border-right-color:Transparent;}
.igtab_Separator_Left{border-right:solid 1px Silver;border-top-width:0px;border-bottom-width:0px;border-left-width:0px;}
.igtab_HoverTab_Left_Rounded{background-color:#E1E1E1;background-image: url(images/tab_left_hover.gif);}
.igtab_HoverTab_Right{background-color:Gainsboro;border-color:Silver;border-left-color:Transparent;}
.igtab_Separator_Right{border-right:solid 0px DarkGray;border-left:solid 1px Silver;border-top-width:0px;border-bottom-width:0px;}
.igtab_HoverTab_Right_Rounded{background-image: url(images/tab_right_hover.gif);}
.igtab_SelectedTab_Top{background-color:Silver;border-color:DarkGray;border-bottom-width:0px;border-bottom-color:Transparent;}
.igtab_SelectedTab_Top_Rounded{background-image: url(images/tab_top.gif);border-width:0px;cursor:default;}
.igtab_SelectedTab_Bottom{background-color:Silver;border-color:Silver;border-top-width:0px;border-top-color:Transparent;}
.igtab_SelectedTab_Bottom_Rounded{background-image: url(images/tab_bottom_hover.gif);border-color:Transparent;border-top-width:0px;border-top-color:#9A9A9A;cursor:default;}
.igtab_SelectedTab_Left{background-color:Silver;border-color:DarkGray;border-right-width:0px;border-right-color:Transparent;}
.igtab_SelectedTab_Left_Rounded{background-image: url(images/tab_left.gif);border-right-width:0px;border-right-color:#9A9A9A;cursor:default;}
.igtab_SelectedTab_Right{background-color:Silver;border-color:DarkGray;border-left-width:0px;border-left-color:Transparent;}
.igtab_SelectedTab_Right_Rounded{background-image: url(images/tab_right.gif);border-color:Transparent;border-left:solid 0px #9A9A9A;cursor:default;color:Black;}
.igtab_DisabledTab_Top{color:Gainsboro;}
.igtab_DisabledTab_Top_Rounded{color:Gainsboro;}
.igtab_DisabledTab_Bottom{color:Gainsboro;}
.igtab_DisabledTab_Bottom_Rounded{color:Gainsboro;}
.igtab_DisabledTab_Left{color:Gainsboro;}
.igtab_DisabledTab_Left_Rounded{color:Gainsboro;}
.igtab_DisabledTab_Right{color:Gainsboro;}
.igtab_DisabledTab_Right_Rounded{color:Gainsboro;}
.Timer{-moz-opacity: .4;filter: alpha(opacity=40);Width :130px;background-color: White;color: #333333;border: 1px solid #999999;z-index: 1;}
.Timer:active{-moz-opacity: .4;filter: alpha(opacity=40);Width :130px;background-color: White;color: #333333;border: 1px solid #999999;z-index: 1;}
.Timer:hover{-moz-opacity: 1;filter: alpha(opacity=100);Width :130px;background-color: White;color: #333333;border: 1px solid #999999;z-index: 1;}
.CurrentTimerHolder{width: 100%;height: 100%;vertical-align: middle;text-align: center;}
.CurrentTimer{font-size: large;font-weight: bold;line-height: 30px;}